<div class="row conBox">
  <section class="row ClearLR addNewProductBox MinH">
    <div class="differentUserBox">
      <p>{{'companycode.input.tip'|i18n}}</p>
      <p><input type="text" class="differentUser" required placeholder="{{'company.code'|i18n}}"/></p>
      <p><button  ng-click="" class="differentUserLink">{{'confirm'|i18n}}</button></p>
      <!--&lt;!&ndash; 只做标识，可删除 &ndash;&gt;-->
      <!--<p>根据用户输入id第一种身份跳转页面（只作为提示，可删除）</p>-->
      <!--<p>根据用户输入id第二种身份跳转页面（只作为提示，可删除）</p>-->
      <!--&lt;!&ndash; 只做标识，可删除 &ndash;&gt;-->
    </div>
  </section>
</div>
