<div class="row conBox">
  <section class="row ClearLR addNewProductBox MinH">
    <div class="differentUserBox" ng-show="step1">
      <p>{{'companycode.input.tip'|i18n}}</p>
      <p><input type="text" ng-model="companyCode" class="differentUser" required placeholder="{{'company.code'|i18n}}"/></p>
      <p><button type="button"  ng-click="showCompanyView(companyCode)" class="differentUserLink">{{'next.step'|i18n}}</button></p>
      <div ui-view="priceRight"></div>
    </div>
    <div ng-show="step2">
      <div style="width:50%;margin: 0 auto;">
        <header class="conHeadTip">{{'company.information'|i18n}}</header>
        <div class="BasicInfoEditWrap">
          <form name="companyEditForm">
            <div class="RelativeBox BasicInfoEditFile">
              <img src="../../images/userIcon.gif" class="img-circle BasicInfoEditIcon">
            </div>
            <div class="RelativeBox BasicInfoMsg text-left">
              <span class="inputlabel">{{'company.name'|i18n}}：</span><input type="text" class="conIn" required ng-model="company.componyName" placeholder="{{'company.name'|i18n}}">
            </div>
            <!--<div class="RelativeBox BasicInfoMsg">-->
            <!--<input type="text" class="conIn" ng-model="newCompnay.introduction" placeholder="Introduction">-->
            <!--</div>-->
            <div class="RelativeBox BasicInfoMsg text-left">
              <span class="inputlabel">{{'company.linkin'|i18n}}：</span><input readonly="readonly" type="text" class="conIn" ng-model="company.extra.linkein" placeholder="{{'company.linkin'|i18n}}">
            </div>
            <div class="RelativeBox BasicInfoMsg text-left">
              <span class="inputlabel">{{'company.code'|i18n}}：</span><input readonly="readonly" type="text" readonly="readonly" class="conIn" ng-model="company.componyCode" placeholder="{{'company.code'|i18n}}">
            </div>
            <div class="RelativeBox BasicInfoMsg text-left">
              <span class="inputlabel">{{'company.web'|i18n}}：</span><input readonly="readonly" type="text" class="conIn" ng-model="company.extra.Web" placeholder="Linkedin">
            </div>
            <div class="RelativeBox BasicInfoMsg text-left">
              <span class="inputlabel">{{'company.address1'|i18n}}：</span><input readonly="readonly" type="text" class="conIn" ng-model="company.extra.Address" placeholder="{{'company.address1'|i18n}}">
            </div>
            <div class="RelativeBox BasicInfoMsg text-left">
              <span class="inputlabel">{{'company.address2'|i18n}}：</span><input readonly="readonly" type="text" class="conIn" ng-model="company.extra.Address2" placeholder="{{'company.address2'|i18n}}">
            </div>
            <div class="RelativeBox BasicInfoMsg text-left">
              <span class="inputlabel">{{'company.address3'|i18n}}：</span><input readonly="readonly" type="text" class="conIn" ng-model="company.extra.Address3" placeholder="{{'company.address3'|i18n}}">
            </div>
            <div class="RelativeBox BasicInfoMsg text-left">
              <span class="inputlabel">{{'company.address4'|i18n}}：</span><input readonly="readonly" type="text" class="conIn" ng-model="company.extra.Address4" placeholder="{{'company.address4'|i18n}}">
            </div>
            <div class="RelativeBox BasicInfoMsg text-left">
              <span class="inputlabel">{{'company.industry'|i18n}}：</span><input readonly="readonly" type="text" class="conIn" ng-model="company.extra.Industry" placeholder="{{'company.industry'|i18n}}">
            </div>
            <div class="RelativeBox BasicInfoMsg text-left">
              <span class="inputlabel">{{'company.products'|i18n}}：</span><input readonly="readonly" type="text" class="conIn" ng-model="company.extra.Products" placeholder="{{'company.products'|i18n}}">
            </div>
            <div class="RelativeBox BasicInfoMsg text-left">
              <span class="inputlabel">{{'company.introduction'|i18n}}：</span><textarea readonly="readonly" cols="53" ng-model="company.extra.Introduction" rows="6"
                                                        placeholder="{{'company.introduction'|i18n}}"></textarea>
            </div>
            <div class="RelativeBox BasicInfoMsg text-left">
              <button class="exitCompany" type="button" ng-click="showQuotationInfo()" style="width:85%;">
                {{'next.step'|i18n}}
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div ng-show="step3">
      <div style="width:50%;margin: 0 auto;">
        <header class="conHeadTip">{{'quotation.info'|i18n}}</header>
        <div class="BasicInfoEditWrap">
          <form name="quotationBaseInfo">
            <div class="RelativeBox BasicInfoMsg text-left">
              <span class="inputlabel">{{'depart'|i18n}}：</span>
              <select class="conIn" ng-required="true" ng-options="depart for depart in departs" ng-model="quotation.depart" ng-change="selectDepart($event)">
                <option value="" selected="selected">--{{'select.depart'|i18n}}--</option>
              </select>
            </div>
            <div class="RelativeBox BasicInfoMsg text-left">
              <span class="inputlabel">{{'category'|i18n}}：</span>
              <select class="conIn" ng-model="quotation.category" ng-options="category for category in categories">
                <option value="default" selected="selected">--{{'select.category'|i18n}}--</option>
              </select>
            </div>
            <div class="RelativeBox BasicInfoMsg text-left">
              <span class="inputlabel">{{'supplier'|i18n}}：</span>
              <select class="conIn" ng-model="quotation.supplier" ng-options="contact.name for contact in contacts">
                <option value="" selected="selected">--{{'select.supplier'|i18n}}--</option>
              </select>
            </div>
            <div class="RelativeBox BasicInfoMsg text-left">
              <span class="inputlabel">{{'quotation.subject'|i18n}}：</span><input type="text" class="conIn" ng-model="quotation.subject" placeholder="{{'quotation.subject'|i18n}}">
            </div>
            <div class="RelativeBox BasicInfoMsg text-left">
              <span class="inputlabel">{{'quotation.reference'|i18n}}：</span><input  type="text" class="conIn" ng-model="quotation.reference" placeholder="{{'quotation.reference'|i18n}}">
            </div>
            <div class="RelativeBox BasicInfoMsg text-left">
              <span class="inputlabel">{{'quotation.term'|i18n}}：</span><input  type="text"  class="conIn" ng-model="quotation.term" placeholder="{{'quotation.term'|i18n}}">
            </div>
            <div class="RelativeBox BasicInfoMsg text-left">
              <span class="inputlabel">{{'quotation.payment'|i18n}}：</span><input  type="text" class="conIn" ng-model="quotation.payment" placeholder="{{'quotation.payment'|i18n}}">
            </div>
            <div class="RelativeBox BasicInfoMsg text-left">
              <span class="inputlabel">{{'quotation.loadingPort'|i18n}}：</span><input  type="text" class="conIn" ng-model="quotation.loadingPort" placeholder="{{'quotation.loadingPort'|i18n}}">
            </div>
            <div class="RelativeBox BasicInfoMsg text-left">
              <span class="inputlabel">{{'quotation.expryDate'|i18n}}：</span>
              <!--<input-->
                <!--uib-datepicker-popup="{{format}}" is-open="popup1.opened" ng-required="true" close-text="关闭"-->
                <!--clear-text="清空" current-text="今天" alt-input-formats="altInputFormats"-->
                 <!--type="text" class="conIn" ng-model="quotation.expryDate"-->
                <!--placeholder="{{'quotation.expryDate'|i18n}}"/>-->
              <!--<button style="float:right;position: relative;top: -35px;left: -50px;" type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>-->

              <input type="text" class="conIn" ng-model="quotation.expryDate" placeholder="{{'quotation.expryDate'|i18n}}"/>
            </div>
            <div class="RelativeBox BasicInfoMsg text-left">
              <span class="inputlabel">{{'quotation.deliveryTime'|i18n}}：</span>
              <input type="text" class="conIn" ng-model="quotation.deliveryTime" placeholder="{{'quotation.deliveryTime'|i18n}}">
            </div>
            <div class="RelativeBox BasicInfoMsg text-left">
              <span class="inputlabel">{{'quotation.remark'|i18n}}：</span><textarea  cols="53" ng-model="quotation.remark" rows="6"
                                                        placeholder="{{'quotation.remark'|i18n}}"></textarea>
            </div>
            <div class="RelativeBox BasicInfoMsg text-left">
              <button class="exitCompany" type="button" ng-click="showProductInfo()" ng-disabled="quotationBaseInfo.$invalid" style="width:85%;">
                {{'next.step'|i18n}}
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div ng-show="step4">
      <div style="width:50%;margin: 0 auto;">
        <form name="productBaseInfo">
          <header class="conHeadTip">{{'product.info'|i18n}}</header>
          <div class="BasicInfoEditWrap">
              <div class="RelativeBox BasicInfoMsg text-left">
                <span class="inputlabel">{{'depart'|i18n}}：</span><input type="text" ng-value="quotation.depart" class="conIn" readonly="readonly"/>
              </div>
              <div class="RelativeBox BasicInfoMsg text-left">
                <span class="inputlabel">{{'category'|i18n}}：</span><input  type="text" class="conIn" readonly="readonly" ng-value="quotation.category"/>
              </div>
            </div>
            <div>
              <header class="conHeadTip">{{'product.detail'|i18n}}</header>
              <div class="BasicInfoEditWrap">
                <div class="RelativeBox BasicInfoMsg text-left" ng-repeat="product in productDetail">
                  <span class="inputlabel">{{product}}：</span><input  type="text" ng-model="$parent.productDetailValue[$index]"  class="conIn"  placeholder="{{product}}">
                </div>
              </div>
            </div>
            <div>
              <header class="conHeadTip">{{'specification.detail'|i18n}}</header>
              <div class="BasicInfoEditWrap">
                <div class="RelativeBox BasicInfoMsg text-left" ng-repeat="sDetail in specificationDetail">
                  <span class="inputlabel">{{sDetail}}：</span><input  type="text" ng-model="$parent.specificationDetailValue[$index]"  class="conIn" placeholder="{{sDetail}}">
                </div>
              </div>
            </div>
            <div>
              <header class="conHeadTip">{{'shipping.detail'|i18n}}</header>
              <div class="BasicInfoEditWrap">
                <div class="RelativeBox BasicInfoMsg text-left" ng-repeat="shDetail in shippingDetail">
                  <span class="inputlabel">{{shDetail}}：</span><input  type="text" ng-model="$parent.shippingDetailValue[$index]"  class="conIn" placeholder="{{shDetail}}">
                </div>
              </div>
            </div>
            <div id="div_product_images">
              <header class="conHeadTip">{{'product.image'|i18n}}
                <!--<span style="color:red;font-size:12px;">({{'save.product.before'|i18n}})</span>-->
              </header>
              <div class="BasicInfoEditWrap">
                <div>
                  <label ng-repeat="image in images" style="margin:5px;">
                    <img src="{{image.src}}" style="margin:auto;width:100px;padding:0px;"/>
                    <span><img ng-click="delImage($index)" src="../../images/x_alt.png" style="position:relative;width:16px;height:16px;top:-65px;left:-10px;cursor: pointer;"></span>
                  </label>
                  <label style="width:100px;height:100px;border:2px solid #ccc;cursor:pointer;">
                    <span id="scan" style="position: relative">
                      <img src="../../images/add.png" style="line-height:100px;height:100px;"/>
                    </span>
                    <input style="width: 60px;height:40px; position: absolute;top:-6px;left: -4px;opacity: 0; filter:alpha(opacity=0)" type="file" accept="image/*" file-model="productImage" onchange="angular.element(this).scope().selectImage(this.files)"/>
                  </label>
                </div>
                <!--<div style="cursor:pointer;" class="contactsCusAdd mb15" ngf-select="productImageUpload($files, $invalidFiles, 0)"-->
                           <!--ng-model="avatar" ngf-select-disabled="!hasSave" name="avatar" ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-max-size="20MB">-->
                <!--{{'select.product.image0'|i18n}}-->
                <!--</div>-->
                <!--<div style="cursor:pointer;" class="contactsCusAdd mb15" ngf-select="productImageUpload($files, $invalidFiles, 1)"-->
                     <!--ng-model="avatar" name="avatar" ngf-select-disabled="!hasSave" ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-max-size="20MB">-->
                  <!--{{'select.product.image1'|i18n}}-->
                <!--</div>-->
                <!--<div style="cursor:pointer;" class="contactsCusAdd mb15" ngf-select="productImageUpload($files, $invalidFiles, 2)"-->
                     <!--ng-model="avatar" name="avatar" ngf-select-disabled="!hasSave" ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-max-size="20MB">-->
                  <!--{{'select.product.image2'|i18n}}-->
                <!--</div>-->
                <!--<div style="cursor:pointer;" class="contactsCusAdd mb15" ngf-select="productImageUpload($files, $invalidFiles, 3)"-->
                     <!--ng-model="avatar" name="avatar" ngf-select-disabled="!hasSave" ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-max-size="20MB">-->
                  <!--{{'select.product.image3'|i18n}}-->
                <!--</div>-->
                <!--<div style="cursor:pointer;" class="contactsCusAdd mb15" ngf-select="productImageUpload($files, $invalidFiles, 4)"-->
                     <!--ng-model="avatar" name="avatar" ngf-select-disabled="!hasSave" ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-max-size="20MB">-->
                  <!--{{'select.product.image4'|i18n}}-->
                <!--</div>-->
              </div>
            </div>
            <div class="RelativeBox BasicInfoMsg text-left">
              <button class="exitCompany" type="button" ng-click="saveAndQuit()" style="width:30%;">
                {{'save.and.quit'|i18n}}
              </button>
              <button class="exitCompany" type="button" ng-click="addNewProduct()" style="width:30%;">
                {{'add.new.product'|i18n}}
              </button>
              <button class="exitCompany" type="button" ng-click="batchImport()" style="width:30%;">
                {{'batch.import'|i18n}}
              </button>
            </div>
          </form>
      </div>
    </div>
    <section class="row ClearLR massUploadBox MinH" style="padding-top:50px;" id="div_import" ng-show="step5">
      <ul>
        <li>{{'import.step.1'|i18n}}</li>
        <li>{{'import.step.2'|i18n}}</li>
        <li>{{'import.step.3'|i18n}}</li>
      </ul>
      <p class="text-center"><a class="downloadMb" href="../../resources/template.xlsx">{{'download.template.tip'|i18n}}</a></p>
      <div class="text-left">
        <form name="importExcelForm">
          <div class="RelativeBox">
            <!--<a class="contactsCusAdd mb15" href="javascript:void(0)">{{'select.avator'|i18n}}</a>-->
            <div  style="cursor:pointer;width:300px;" class="contactsCusAdd mb15" ngf-select="importExcel($files, $invalidFiles)"
                  ng-model="avatar" name="avatar"
                  ngf-pattern="'application/vnd.ms-excel';'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet'"
                  ngf-accept="'application/vnd.ms-excel';'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet'" ngf-max-size="20MB">
              {{'import.excel'|i18n}}
            </div>
            <!--<button type="submit" ng-click="avatorUpload(avatar)">{{'upload.avator'|i18n}}</button>-->
          </div>
        </form>
      </div>
    </section>
  </section>
</div>
