<div class="row conBox">
  <section class="row ClearLR addNewProductBox MinH">
    <div class="differentUserBox" ng-show="step1">
      <p>{{'companycode.input.tip'|i18n}}</p>
      <p><input type="text" ng-model="companyCode" class="differentUser" required placeholder="{{'company.code'|i18n}}"/></p>
      <p><button type="button"  ng-click="showCompanyView(companyCode)" class="differentUserLink">{{'next.step'|i18n}}</button></p>
      <div ui-view="priceRight"></div>
    </div>
    <div ng-show="step2">
      <div style="width:50%;margin: 0 auto;">
        <header class="conHeadTip">{{'company.information'|i18n}}</header>
        <div class="BasicInfoEditWrap">
          <form name="companyEditForm">
            <div class="RelativeBox BasicInfoEditFile">
              <img src="../../images/userIcon.gif" class="img-circle BasicInfoEditIcon">
            </div>
            <div class="RelativeBox BasicInfoMsg text-center">
              {{'company.name'|i18n}}：<input type="text" class="conIn" required ng-model="company.componyName" placeholder="{{'company.name'|i18n}}">
            </div>
            <!--<div class="RelativeBox BasicInfoMsg">-->
            <!--<input type="text" class="conIn" ng-model="newCompnay.introduction" placeholder="Introduction">-->
            <!--</div>-->
            <div class="RelativeBox BasicInfoMsg text-center">
              {{'company.linkin'|i18n}}：<input readonly="readonly" type="text" class="conIn" ng-model="company.extra.linkein" placeholder="{{'company.linkin'|i18n}}">
            </div>
            <div class="RelativeBox BasicInfoMsg text-center">
              {{'company.code'|i18n}}：<input readonly="readonly" type="text" readonly="readonly" class="conIn" ng-model="company.componyCode" placeholder="{{'company.code'|i18n}}">
            </div>
            <div class="RelativeBox BasicInfoMsg text-center">
              {{'company.web'|i18n}}：<input readonly="readonly" type="text" class="conIn" ng-model="company.extra.Web" placeholder="Linkedin">
            </div>
            <div class="RelativeBox BasicInfoMsg text-center">
              {{'company.address1'|i18n}}：<input readonly="readonly" type="text" class="conIn" ng-model="company.extra.Address" placeholder="{{'company.address1'|i18n}}">
            </div>
            <div class="RelativeBox BasicInfoMsg text-center">
              {{'company.address2'|i18n}}：<input readonly="readonly" type="text" class="conIn" ng-model="company.extra.Address2" placeholder="{{'company.address2'|i18n}}">
            </div>
            <div class="RelativeBox BasicInfoMsg text-center">
              {{'company.address3'|i18n}}：<input readonly="readonly" type="text" class="conIn" ng-model="company.extra.Address3" placeholder="{{'company.address3'|i18n}}">
            </div>
            <div class="RelativeBox BasicInfoMsg text-center">
              {{'company.address4'|i18n}}：<input readonly="readonly" type="text" class="conIn" ng-model="company.extra.Address4" placeholder="{{'company.address4'|i18n}}">
            </div>
            <div class="RelativeBox BasicInfoMsg text-center">
              {{'company.industry'|i18n}}：<input readonly="readonly" type="text" class="conIn" ng-model="company.extra.Industry" placeholder="{{'company.industry'|i18n}}">
            </div>
            <div class="RelativeBox BasicInfoMsg text-center">
              {{'company.products'|i18n}}：<input readonly="readonly" type="text" class="conIn" ng-model="company.extra.Products" placeholder="{{'company.products'|i18n}}">
            </div>
            <div class="RelativeBox BasicInfoMsg text-center">
              {{'company.introduction'|i18n}}：<textarea readonly="readonly" cols="50" ng-model="company.extra.Introduction" rows="6"
                                                        placeholder="{{'company.introduction'|i18n}}"></textarea>
            </div>
            <div class="RelativeBox BasicInfoMsg text-center">
              <button class="exitCompany" type="button" ng-click="showQuotationInfo()" style="width:50%;">
                {{'next.step'|i18n}}
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div ng-show="step3">
      <div style="width:50%;margin: 0 auto;">
        <header class="conHeadTip">{{'quotation.info'|i18n}}</header>
        <div class="BasicInfoEditWrap">
          <form name="quotationBaseInfo">
            <div class="RelativeBox BasicInfoMsg text-center">
              {{'depart'|i18n}}：
              <select class="conIn" ng-options="depart for depart in departs" ng-model="quotation.depart" ng-change="selectDepart($event)">
                <option value="" selected="selected">--{{'select.depart'|i18n}}--</option>
              </select>
            </div>
            <div class="RelativeBox BasicInfoMsg text-center">
              {{'category'|i18n}}：
              <select class="conIn" ng-model="quotation.category" ng-options="category for category in categories">
                <option value="default" selected="selected">--{{'select.category'|i18n}}--</option>
              </select>
            </div>
            <div class="RelativeBox BasicInfoMsg text-center">
              {{'supplier'|i18n}}：
              <select class="conIn" ng-model="quotation.supplier" ng-options="supplier for supplier in supplieres">
                <option value="" selected="selected">--{{'select.supplier'|i18n}}--</option>
              </select>
            </div>
            <div class="RelativeBox BasicInfoMsg text-center">
              {{'quotation.subject'|i18n}}：<input type="text" class="conIn" required ng-model="quotation.subject" placeholder="{{'quotation.subject'|i18n}}">
            </div>
            <div class="RelativeBox BasicInfoMsg text-center">
              {{'quotation.reference'|i18n}}：<input  type="text" class="conIn" ng-model="quotation.reference" placeholder="{{'quotation.reference'|i18n}}">
            </div>
            <div class="RelativeBox BasicInfoMsg text-center">
              {{'quotation.term'|i18n}}：<input  type="text"  class="conIn" ng-model="quotation.term" placeholder="{{'quotation.term'|i18n}}">
            </div>
            <div class="RelativeBox BasicInfoMsg text-center">
              {{'quotation.payment'|i18n}}：<input  type="text" class="conIn" ng-model="quotation.payment" placeholder="{{'quotation.payment'|i18n}}">
            </div>
            <div class="RelativeBox BasicInfoMsg text-center">
              {{'quotation.loadingPort'|i18n}}：<input  type="text" class="conIn" ng-model="quotation.loadingPort" placeholder="{{'quotation.loadingPort'|i18n}}">
            </div>
            <div class="RelativeBox BasicInfoMsg text-center">
              {{'quotation.expryDate'|i18n}}：
              <input
                uib-datepicker-popup="{{format}}" is-open="popup1.opened" ng-required="true" close-text="关闭"
                clear-text="清空" current-text="今天" alt-input-formats="altInputFormats"
                 type="text" class="conIn" ng-model="quotation.expryDate"
                placeholder="{{'quotation.expryDate'|i18n}}"/>
              <button style="float:right;position: relative;top: -35px;left: -50px;" type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
            </div>
            <div class="RelativeBox BasicInfoMsg text-center">
              {{'quotation.deliveryTime'|i18n}}：
              <input
                uib-datepicker-popup="{{format}}" is-open="popup2.opened" ng-required="true" close-text="关闭"
                clear-text="清空" current-text="今天" alt-input-formats="altInputFormats"
                type="text" class="conIn" ng-model="quotation.deliveryTime" placeholder="{{'quotation.deliveryTime'|i18n}}">
              <button style="float:right;position: relative;top: -35px;left: -50px;" type="button" class="btn btn-default" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
            </div>
            <div class="RelativeBox BasicInfoMsg text-center">
              {{'quotation.remark'|i18n}}：<textarea  cols="50" ng-model="quotation.remark" rows="6"
                                                        placeholder="{{'quotation.remark'|i18n}}"></textarea>
            </div>
            <div class="RelativeBox BasicInfoMsg text-center">
              <button class="exitCompany" type="button" ng-click="showProductInfo()" ng-disabled="quotationBaseInfo.$invalid" style="width:50%;">
                {{'next.step'|i18n}}
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div ng-show="step4">
      <div style="width:50%;margin: 0 auto;">
        <form name="productBaseInfo">
          <header class="conHeadTip">{{'product.info'|i18n}}</header>
          <div class="BasicInfoEditWrap">
              <div class="RelativeBox BasicInfoMsg text-center">
                {{'depart'|i18n}}：<input type="text" ng-value="quotation.depart" class="conIn" readonly="readonly"/>
              </div>
              <div class="RelativeBox BasicInfoMsg text-center">
                {{'category'|i18n}}：<input  type="text" class="conIn" readonly="readonly" ng-value="quotation.category"/>
              </div>
            </div>
            <div>
              <header class="conHeadTip">{{'product.detail'|i18n}}</header>
              <div class="BasicInfoEditWrap">
                <div class="RelativeBox BasicInfoMsg text-center" ng-repeat="product in productDetail">
                  {{product}}：<input  type="text" ng-model="$parent.productDetailValue[$index]"  class="conIn"  placeholder="{{product}}">
                </div>
              </div>
            </div>
            <div>
              <header class="conHeadTip">{{'specification.detail'|i18n}}</header>
              <div class="BasicInfoEditWrap">
                <div class="RelativeBox BasicInfoMsg text-center" ng-repeat="sDetail in specificationDetail">
                  {{sDetail}}：<input  type="text" ng-model="$parent.specificationDetailValue[$index]"  class="conIn" placeholder="{{sDetail}}">
                </div>
              </div>
            </div>
            <div>
              <header class="conHeadTip">{{'shipping.detail'|i18n}}</header>
              <div class="BasicInfoEditWrap">
                <div class="RelativeBox BasicInfoMsg text-center" ng-repeat="shDetail in shippingDetail">
                  {{shDetail}}：<input  type="text" ng-model="$parent.shippingDetailValue[$index]"  class="conIn" placeholder="{{shDetail}}">
                </div>
              </div>
            </div>
            <div class="RelativeBox BasicInfoMsg text-center">
              <button class="exitCompany" type="button" ng-click="saveAndQuit()" style="width:20%;">
                {{'save.and.quit'|i18n}}
              </button>
              <button class="exitCompany" type="button" ng-click="addNewProduct()" style="width:20%;">
                {{'add.new.product'|i18n}}
              </button>
              <button class="exitCompany" type="button" ng-click="batchImport()" style="width:20%;">
                {{'batch.import'|i18n}}
              </button>
            </div>
          </form>
      </div>
    </div>
    <section class="row ClearLR massUploadBox MinH" style="padding-top:50px;" id="div_import" ng-show="step5">
      <ul>
        <li>{{'import.step.1'|i18n}}</li>
        <li>{{'import.step.2'|i18n}}</li>
        <li>{{'import.step.3'|i18n}}</li>
      </ul>
      <p class="text-center"><a class="downloadMb" href="../../resources/template.xlsx">{{'download.template.tip'|i18n}}</a></p>
      <div class="text-center">
        <form name="importExcelForm">
          <div class="RelativeBox">
            <!--<a class="contactsCusAdd mb15" href="javascript:void(0)">{{'select.avator'|i18n}}</a>-->
            <div  style="cursor:pointer;width:300px;" class="contactsCusAdd mb15" ngf-select="importExcel($files, $invalidFiles)"
                  ng-model="avatar" name="avatar"
                  ngf-pattern="'application/vnd.ms-excel';'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet'"
                  ngf-accept="'application/vnd.ms-excel';'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet'" ngf-max-size="20MB">
              {{'import.excel'|i18n}}
            </div>
            <!--<button type="submit" ng-click="avatorUpload(avatar)">{{'upload.avator'|i18n}}</button>-->
          </div>
        </form>
      </div>
    </section>
  </section>
</div>
