<!-- 主要内容盒子 -->
<div class="row conBox">
  <section class="row ClearLR contactsBox">
    <div class="w24bf MinH contactsBox1">
      <p>{{'depart.cateorg.manager.1'|i18n}}</p>
      <p>{{'depart.cateorg.manager.2'|i18n}}</p>
      <p>{{'depart.cateorg.manager.3'|i18n}}</p>
      <p></p>
    </div>
    <div class="w24bf MinH contactsBox2">
      <div class="contactsBox2H">
        <header>{{'depart'|i18n}}</header>
        <a class="contactsCusAdd" ng-click="showAddDepart()">{{'add.depart'|i18n}}</a>
      </div>
      <div class="contactsMsg niceScroll">
        <ul class="cateUl">
          <li ng-repeat="depart in departs">
            <a class="cateLinkdelete" ng-click="removeDepart(depart)">
              <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
            </a>
            <a class="" ng-click="showCategory(depart)"><span class="cateLinkTxt">{{depart}}</span></a>
          </li>
        </ul>
      </div>
    </div>
    <div class="w24bf MinH contactsBox2">
      <div class="contactsBox2H">
        <header>[{{currentDepart}}]{{'depart.all.category'|i18n}}</header>
        <a class="contactsCusAdd" ng-click="showAddCategory()">{{'add.category'|i18n}}</a>
      </div>
      <div class="contactsMsg niceScroll">
        <ul class="cateUl">
          <li ng-repeat="category in categories track by $index">
            <a class="cateLinkdelete" ng-click="removeCategory(category)">
              <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
            </a>
            <span class="cateLinkTxt">{{category}}</span>
          </li>
        </ul>
      </div>
    </div>
  </section>
</div>
