<!-- 主要内容盒子 -->
<div class="row conBox">

  <section class="row ClearLR contactsBox">
    <div class="w24bf MinH contactsBox1">
      <p>Please create departments and Categories.</p>
      <p>When your staff join the company,you can authorize the departments or categories that he or she will handle.</p>
      <p>When product or quotation is submitted only under a department,all staff under this department can view this product or quotation,until one of them edited the category of the product or quotation.</p>
      <p></p>
    </div>

    <div class="w24bf MinH contactsBox2">
      <div class="contactsBox2H">
        <header>Departments</header>
        <a class="contactsCusAdd" href="javascript:void(0)">Add department</a>
      </div>
      <div class="contactsMsg niceScroll">
        <ul class="cateUl">
          <li><a class="cateLinkdelete" href="javascript:void(0)"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a><span class="cateLinkTxt">部门</span></li>
          <li><a class="cateLinkdelete" href="javascript:void(0)"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a><span class="cateLinkTxt">日用品</span></li>
          <li><a class="cateLinkdelete" href="javascript:void(0)"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a><span class="cateLinkTxt">部门</span></li>
        </ul>
      </div>
    </div>

    <div class="w24bf MinH contactsBox2">
      <div class="contactsBox2H">
        <header>Categories</header>
        <a class="contactsCusAdd" href="javascript:void(0)">Add category</a>
      </div>
      <div class="contactsMsg niceScroll">
        <ul class="cateUl">
          <li><a class="cateLinkdelete" href="javascript:void(0)"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a><span class="cateLinkTxt">杯子</span></li>
          <li><a class="cateLinkdelete" href="javascript:void(0)"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a><span class="cateLinkTxt">餐具</span></li>
          <li><a class="cateLinkdelete" href="javascript:void(0)"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a><span class="cateLinkTxt">炊具</span></li>
        </ul>
      </div>
    </div>

  </section>
</div>
