<div class="row conBox">
  <section class="row ClearLR font0">
    <div class="w19bf MinH contactsBox2">
      <header class="tempH">{{'template.list'|i18n}}</header>
      <div id="tempBoxWrap" class="tempBoxWrap">
        <ul class="tempBoxUl">
          <li ng-repeat="template in templates">
            <a ng-class="{'navactive': template.tmpName==currentTemplate.tmpName}" ng-click="initTemplate($index)" style="width:100%">
              <header>{{template.tmpName}}</header>
              <p>{{template.tmpInfo}}</p>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="w19bf  MinH contactsBox2">
      <div class="contactsBox2H">
        <div class="selectMBox">
          <div>
            {{'template.name'|i18n}}：<input ng-model="currentTemplate.tmpName" style="width:200px;" class="differentUser" type="text" placeholder="{{'template.name'|i18n}}">
          </div>
          <div>
            {{'template.desc'|i18n}}：<textarea ng-model="currentTemplate.tmpInfo" rows="5" cols="30" placeholder="{{'template.desc.tip'|i18n}}"></textarea>
          </div>
        </div>
        <header>{{'select.depart.of.template'|i18n}}</header>
        <a class="contactsCusAdd" data-toggle="modal" ng-click="showAddDepart()">{{'add.depart'|i18n}}</a>
      </div>
      <div id="contactsMsgd" class="contactsMsgM">
        <div ng-repeat="depart in departs" class="checkbox">
          <label>
            <input type="checkbox" ng-click="updateSelection($event, depart, 4)" value="{{depart}}" ng-checked="containDepart(depart)">{{depart}}
          </label>
        </div>
      </div>
    </div>
    <div class="w19bf  MinH contactsBox2">
      <div class="contactsBox2H">
        <header>{{'product.detail'|i18n}}</header>
        <a class="contactsCusAdd" ng-click="showAddCustomCol(1)">{{'add.custom.col'|i18n}}</a>
      </div>
      <div id="contactsMsga" class="contactsMsg">
        <div ng-repeat="product in productDetail">
          <label>
            <input type="checkbox" ng-click="updateSelection($event, product, 1)" value="{{product}}" ng-checked="containCustomCol(product, 1)"/>{{product}}
          </label>
        </div>
      </div>
    </div>

    <div class="w19bf  MinH contactsBox2">
      <div class="contactsBox2H">
        <header>{{'specification.detail'|i18n}}</header>
        <a class="contactsCusAdd" ng-click="showAddCustomCol(2)">{{'add.custom.col'|i18n}}</a>
      </div>
      <div id="contactsMsgb" class="contactsMsg">
        <div ng-repeat="product in specificationDetail">
          <label>
            <input type="checkbox" ng-click="updateSelection($event, product, 2)" value="{{product}}" ng-checked="containCustomCol(product, 2)"/>{{product}}
          </label>
        </div>
      </div>
    </div>

    <div class="w19bf  MinH contactsBox2">
      <div class="contactsBox2H">
        <header>{{'shipping.detail'|i18n}}</header>
        <a class="contactsCusAdd" ng-click="showAddCustomCol(3)">{{'add.custom.col'|i18n}}</a>
      </div>
      <div id="contactsMsgc" class="contactsMsg">
        <div ng-repeat="product in shippingDetail">
          <label>
            <input type="checkbox" value="{{product}}" ng-click="updateSelection($event, product, 3)" ng-checked="containCustomCol(product, 3)"/>{{product}}
          </label>
        </div>
      </div>
    </div>
  </section>
</div>
