<!-- 标题，供应商，创建者，时间，菜单栏的列表模式切换 -->
<a id="showHideLink" class="showHideLink" href="javascript:void(0);"><span class="glyphicon glyphicon-chevron-right"></span></a>
<!-- 标题，供应商，创建者，时间，菜单栏的列表模式切换 -->

<!-- 主要内容盒子 -->
<div class="row conBox">
  <section class="row ClearLR font0">
    <div class="w24bf MinH2 productCenterL RelativeBox">
      <ul id="productListTitle" class="productListTitle">
        <li class="productBR">{{'box.subject'|i18n}}</li>
        <li class="productBR">{{'box.supplier'|i18n}}</li>
        <li class="productBR">{{'box.creator'|i18n}}</li>
        <li>{{'box.time'|i18n}}</li>
      </ul>

      <ul id="productListMsgB" class="productListMsg niceScroll">
        <li ng-repeat="row in drafts" ng-class="{'navactive': row.id==currentDraft.id}">
          <a ng-click="initByDetail(row)">
            <h4>{{row.quotation.extra.quotInfo.Subject}}</h4>
            <p>{{row.quotation.extra.quotInfo.Supplier}}</p>
            <p>{{row.quotation.extra.quotInfo.CreatBy}}</p>
            <p>{{row.createTime|date:'yyyy-MM-dd'}}</p>
          </a>
        </li>
      </ul>
    </div>

    <div id="conBoxA" class="w75bf MinH conBg conProductList productListWrapBox productCenterR">
      <div class="productListBox">
        <a ui-sref="index.product.detail({id:product.id,quotationId:product.quotationId})" ng-repeat="product in productMap">
          <img err-src="../../images/userIcon.gif" ng-src="{{product.image0|baseUrl}}"/>
          <p>{{product.extra['Item number']}}
            <span class="productPrice">{{product.extra['Price']|currency}}/{{product.extra['Product detail']['Unit']}}</span></p>
          <p class="productName">&nbsp;{{product.extra['Product detail'].Description}}</p>
          <p>&nbsp;{{product.extra['Specification detail'].Size}}</p>
        </a>
      </div>
    </div>

    <!-- 展开列表内容盒子 隐藏-->
    <div id="conBoxB" class="w75bf MinH conBg conProductList custerHide">
      <div id="contableWrapAH" class="contableWrapA">
        <table class="table table-bordered contableA">
          <tbody>
          <tr>
            <td>编辑着</td>
            <td>编辑日期</td>
            <td>状态</td>
            <td>标题</td>
            <td>报价序号</td>
            <td>供应商</td>
            <td>联系人</td>
            <td>价格条款</td>
            <td>付款方式</td>
            <td>装运港</td>
            <td>交货时间</td>
            <td>有效期</td>
            <td>附言</td>
            <td>编辑着</td>
            <td>编辑日期</td>
            <td>状态</td>
            <td>标题</td>
            <td>报价序号</td>
            <td>供应商</td>
            <td>联系人</td>
            <td>价格条款</td>
            <td>付款方式</td>
            <td>装运港</td>
            <td>交货时间</td>
            <td>有效期</td>
            <td>附言</td>
          </tr>
          <tr>
            <td>陈先生</td>
            <td>8/9/2016</td>
            <td>通过</td>
            <td>2017春节沃尔玛</td>
            <td>Qtr45465465</td>
            <td>张小姐有限公司</td>
            <td>FRK</td>
            <td>预付30%定金</td>
            <td>广州</td>
            <td></td>
            <td>9/2/2016</td>
            <td>65456+465465</td>
            <td>9+54+946</td>
            <td></td>
            <td>陈先生</td>
            <td>8/9/2016</td>
            <td>通过</td>
            <td>2017春节沃尔玛</td>
            <td>Qtr45465465</td>
            <td>张小姐有限公司</td>
            <td>FRK</td>
            <td>预付30%定金</td>
            <td>广州</td>
            <td></td>
            <td>9/2/2016</td>
            <td>65456+465465</td>
          </tr>
          </tbody>
        </table>
      </div>
      <div id="contableWrapList" class="contableWrap">
        <table id="table2-1">
          <tr>
            <th rowspan="" colspan=""></th>
          </tr>
        </table>
      </div>
    </div>
    <!-- 展开列表内容盒子 隐藏-->
  </section>
</div>
<!-- 主要内容盒子 -->
