<div class="row conBox">
  <section class="row ClearLR MinH conBg">
    <table class="table table-bordered table-hover messageTable">
      <thead>
      <tr>
        <th>Department</th>
        <th>Category</th>
        <th>Time</th>
        <th>By</th>
        <th>Object</th>
        <th>Action</th>
        <th>Subject</th>
        <th>Content</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>日用品</td>
        <td>杯子</td>
        <td>2016-08-10 15:10</td>
        <td>黄先生</td>
        <td>黄先生有限公司</td>
        <td>要求更新</td>
        <td>2017春节沃尔玛选品</td>
        <td>价格错误，包装尺寸不齐全，请核对后重新提交。</td>
      </tr>
      <tr>
        <td>日用品</td>
        <td>杯子</td>
        <td>2016-08-10 15:10</td>
        <td>黄先生</td>
        <td>黄先生有限公司</td>
        <td>要求更新</td>
        <td>2017春节沃尔玛选品</td>
        <td>价格错误，包装尺寸不齐全，请核对后重新提交。</td>
      </tr>
      </tbody>
    </table>
  </section>
</div>
