<div role="tabpanel" class="tab-pane MinH niceScroll conBg" id="profile">
  <!--<p class="seriesTip">{{'current.version'|i18n}} {{'version.standard'|i18n}}</p>-->
  <!--<p class="seriesTime">{{'expiry.date'|i18n}} 2019-12-11</p>-->
  <div class="font0">
    <div class="w3bf settingMsgBox1">
      <p class="settingMsgH">{{'version.free'|i18n}}</p>
      <p class="settingFree mb20">{{'version.free.1'|i18n}}</p>
      <p>{{'version.free.2'|i18n}}</p>
      <p>{{'version.free.3'|i18n}}</p>
      <p>{{'version.free.4'|i18n}}</p>
      <p>{{'version.free.5'|i18n}}</p>
      <p>{{'version.free.6'|i18n}}</p>
      <p>{{'version.free.7'|i18n}}</p>
      <p>{{'version.free.8'|i18n}}</p>
      <p>{{'version.free.9'|i18n}}</p>
      <p>{{'version.free.10'|i18n}}</p>
      <p>{{'version.free.11'|i18n}}</p>
      <p>
        <small class="sMbox1small">{{'version.free.12'|i18n}}</small>
      </p>
    </div>

    <div class="w3bf settingMsgBox1">
      <p class="settingMsgH">{{'version.standard'|i18n}}</p>
      <p class="settingFree mb20">￥999半年</p>
      <p>{{'version.free.2'|i18n}}</p>
      <p>{{'version.free.3'|i18n}}</p>
      <p>{{'version.free.4'|i18n}}</p>
      <p>{{'version.free.5'|i18n}}</p>
      <p>{{'version.free.6'|i18n}}</p>
      <p>{{'version.free.7'|i18n}}</p>
      <p>{{'version.free.8'|i18n}}</p>
      <p>{{'version.free.9'|i18n}}</p>
      <p>{{'version.free.10'|i18n}}</p>
      <p>{{'version.free.11'|i18n}}</p>
      <p>
        <small class="sMbox1small">{{'version.free.12'|i18n}}</small>
      </p>
      <p>{{'version.free.13'|i18n}}</p>
      <p>
        <small class="sMbox1small">{{'version.free.14'|i18n}}</small>
      </p>
      <!--<p><a class="settingMsgBox1Link" ng-click="renew()">Renew</a></p>-->
    </div>
    <div class="w3bf settingMsgBox1">
      <p class="settingMsgH">{{'version.pro'|i18n}}</p>
      <p class="settingFree mb20">￥1499半年</p>
      <p>{{'version.free.2'|i18n}}</p>
      <p>{{'version.free.3'|i18n}}</p>
      <p>{{'version.free.4'|i18n}}</p>
      <p>{{'version.free.5'|i18n}}</p>
      <p>{{'version.free.6'|i18n}}</p>
      <p>{{'version.free.7'|i18n}}</p>
      <p>{{'version.free.8'|i18n}}</p>
      <p>{{'version.free.9'|i18n}}</p>
      <p>{{'version.free.10'|i18n}}</p>
      <p>{{'version.free.11'|i18n}}</p>
      <p>
        <small class="sMbox1small">{{'version.free.12'|i18n}}</small>
      </p>
      <p>{{'version.free.13'|i18n}}</p>
      <p>
        <small class="sMbox1small">{{'version.free.14'|i18n}}</small>
      </p>
      <p>{{'version.free.15'|i18n}}</p>
      <p>{{'version.free.16'|i18n}}</p>
      <p>{{'version.free.17'|i18n}}</p>
      <p>
        <small class="sMbox1small">{{'version.free.18'|i18n}}</small>
      </p>
      <!--<p><a class="settingMsgBox1Link" ng-click="purchase()">Purchase</a></p>-->
    </div>
  </div>
</div>
