<div role="tabpanel" class="tab-pane MinH niceScroll conBg" id="profile">
  <p class="seriesTip">Current plan：The standard version</p>
  <p class="seriesTime">Expiry date：2016-12-11</p>
  <div class="font0">
    <div class="w3bf settingMsgBox1">
      <p class="settingMsgH">Free</p>
      <p class="settingFree mb20">现在免费!</p>
      <p>同步所有设备</p>
      <p>产品报价管理</p>
      <p>设置不同报价模板</p>
      <p>条形码/二维码管理产品</p>
      <p>导出产品数据</p>
      <p>会议记录</p>
      <p>导出PDF格式的会议记录</p>
      <p>导出Excel格式的会议记录</p>
      <p>供应商资料管理</p>
      <p>供应商协作</p>
      <p>
        <small class="sMbox1small">*供应商直接提交或者编辑报价</small>
      </p>
    </div>

    <div class="w3bf settingMsgBox1">
      <p class="settingMsgH">Standard</p>
      <p class="settingFree mb20">￥999半年</p>
      <p>同步所有设备</p>
      <p>产品报价管理</p>
      <p>设置不同报价模板</p>
      <p>条形码/二维码管理产品</p>
      <p>导出产品数据</p>
      <p>会议记录</p>
      <p>导出PDF格式的会议记录</p>
      <p>导出Excel格式的会议记录</p>
      <p>供应商资料管理</p>
      <p>供应商协作</p>
      <p>
        <small class="sMbox1small">*供应商直接提交或者编辑报价</small>
      </p>
      <p>销售展示</p>
      <p>
        <small class="sMbox1small">*隐藏供应商信息及采购价格</small>
      </p>
      <p><a class="settingMsgBox1Link" ng-click="renew()">Renew</a></p>
    </div>
    <div class="w3bf settingMsgBox1">
      <p class="settingMsgH">Pro</p>
      <p class="settingFree mb20">￥1499半年</p>
      <p>同步所有设备</p>
      <p>产品报价管理</p>
      <p>设置不同报价模板</p>
      <p>条形码/二维码管理产品</p>
      <p>导出产品数据</p>
      <p>会议记录</p>
      <p>导出PDF格式的会议记录</p>
      <p>导出Excel格式的会议记录</p>
      <p>供应商资料管理</p>
      <p>供应商协作</p>
      <p>
        <small class="sMbox1small">*供应商直接提交或者编辑报价</small>
      </p>
      <p>销售展示</p>
      <p>
        <small class="sMbox1small">*隐藏供应商信息及采购价格</small>
      </p>
      <p>编辑日志</p>
      <p>不同用户的编辑及修改记录，特别是价格修改记录</p>
      <p>多用户权限管理</p>
      <p>
        <small class="sMbox1small">*按照产品分类设置用户权限，产品数据更安全</small>
      </p>
      <p><a class="settingMsgBox1Link" ng-click="purchase()">Purchase</a></p>
    </div>
  </div>
</div>
