<div class="row conBox">
  <section class="row ClearLR MinH conBg">
    <div role="tabpanel" class="tab-pane MinH niceScroll conBg" id="approval">
      <table class="table memberManage">
        <thead>
        <tr>
          <th class="membercol1">{{'avator'|i18n}}</th>
          <th class="membercol2">{{'user.name'|i18n}}</th>
          <th>{{'user.email'|i18n}}</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="row in data">
          <td class="membercol1">
            <a href="userMsg.html"><img ng-src="{{row.avator}}" class="img-circle memberIcon"></a>
          </td>
          <td class="membercol2">
            <a href="userMsg.html">{{row.userInfo.user}}</a></td>
          <td>
            <span class="approvalEmail">{{row.userInfo.email}}</span>
            <a class="approvalLink approvalAgree" ng-click="agree(row.id)">{{'agree'|i18n}}</a>
            <a class="approvalLink approvalRefused " ng-click="reject(row.id)">{{'reject'|i18n}}</a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </section>
</div>
