<div class="w3bf MinH conBg" style="width:60%;">
  <header class="conHeadTip">{{'change.pwd'|i18n}}</header>
  <div class="BasicInfoEditWrap">
    <form name="changePwdForm" ng-submit="changePwd(user)">
      <div class="LoginBox">
        <label class="LoginTxt"><span class="mustLogin">*</span> {{'user.old.password'| i18n }}</label>
        <input type="password" required ng-model="user.password" class="LoginIn" placeholder="{{'user.old.password'| i18n }}"/>
      </div>
      <div class="LoginBox">
        <label class="LoginTxt"><span class="mustLogin">*</span> {{'user.new.password'| i18n }}</label>
        <input type="password" required ng-model="user.newPassword" class="LoginIn" placeholder="{{'user.new.password'| i18n }}"/>
      </div>
      <div class="LoginBox">
        <label class="LoginTxt"><span class="mustLogin">*</span> {{'user.confirmPassword'| i18n }}</label>
        <input type="password" required ng-model="confirmPassword" class="LoginIn" placeholder="{{'user.confirmPassword'| i18n }}"/>
      </div>
      <div class="text-center" style="height:50px;">
        <button class="exitCompany" type="submit" ng-disabled="changePwdForm.$invalid || user.newPassword!=confirmPassword" style="width:40%;">
          {{'change.pwd'|i18n}}
        </button>
      </div>
    </form>
  </div>
</div>
