<div class="row conBox">
  <section class="row ClearLR font0">
    <div class="w24bf  MinH">
      <ul class="nav settingNav" role="tablist">
        <li class="active"><a href="#home" role="tab" data-toggle="tab">Information</a></li>
        <li><a href="#profile" role="tab" data-toggle="tab">Account status</a></li>
        <li><a href="#messages" role="tab" data-toggle="tab">member management</a></li>
        <li><a href="#approval" role="tab" data-toggle="tab">Join the examination and approval<span class="approvalTip">3</span>
        </a></li>
      </ul>
    </div>
    <div class="w75bf tab-content">
      <div role="tabpanel" class="tab-pane font0 active" id="home">
        <div class="w3bf MinH conBg">
          <header class="conHeadTip">Personal information</header>
          <div class="BasicInfoWrap">
            <a class="BasicInfoLink" href="#"><img src="../../images/userIcon.gif" class="img-circle BasicInfoIcon"></a>
            <p>黄先生</p>
            <p>huangxi@huangxi.com</p>
            <p>职位：采购主管</p>
            <p>固定电话：86-20-80320320</p>
            <p>手机：86-13503820832</p>
          </div>
          <div class="BasicInfoEditWrap">
            <form>
              <div class="RelativeBox">
                <a class="contactsCusAdd mb15" href="javascript:void(0)">Add your photo</a>
                <input type="file" class="BasicInfoEditFI conOpacity">
              </div>
              <div class="RelativeBox BasicInfoEditFile">
                <img src="../../images/userIcon.gif" class="img-circle BasicInfoEditIcon">
              </div>
              <div class="RelativeBox BasicInfoMsg">
                <input type="text" class="conIn" placeholder="User Name(required)">
              </div>
              <div class="RelativeBox BasicInfoMsg">
                <input type="text" class="conIn" placeholder="Email(required)">
              </div>
              <div class="RelativeBox BasicInfoMsg">
                <input type="text" class="conIn" placeholder="Password(required)">
              </div>
              <div class="RelativeBox BasicInfoMsg">
                <input type="text" class="conIn" placeholder="Confirm password(required)">
              </div>
              <div class="RelativeBox BasicInfoMsg">
                <input type="text" class="conIn" placeholder="Job title">
              </div>
              <div class="RelativeBox BasicInfoMsg">
                <input type="text" class="conIn" placeholder="Tel">
              </div>
              <div class="RelativeBox BasicInfoMsg">
                <input type="text" class="conIn" placeholder="Cellphone">
              </div>
              <div class="RelativeBox BasicInfoMsg">
                <input type="text" class="conIn" placeholder="Linkedin">
              </div>
              <div class="RelativeBox BasicInfoMsg">
                <input type="text" class="conIn" placeholder="What's App">
              </div>
              <div class="RelativeBox BasicInfoMsg">
                <input type="text" class="conIn" placeholder="Skype">
              </div>
              <div class="RelativeBox BasicInfoMsg">
                <input type="text" class="conIn" placeholder="Wechat">
              </div>
            </form>
          </div><!-- BasicInfoEditWrap -->

        </div>

        <div class="w3bf MinH conBg">
          <header class="conHeadTip">Company information</header>
          <div class="BasicInfoWrap" id="BasicInfoWrap">
            <a class="BasicInfoLink" href="#"><img src="../../images/userIcon.gif" class="img-circle BasicInfoIcon"></a>
            <p>黄希进出口有限公司</p>
            <p class="BasicInfoMsg">
              简介：这里是公司简介内容，这里是公司简介内容，这里是公司简介内容，这里是公司简介内容，这里是公司简介内容，这里是公司简介内容，这里是公司简介内容，这里是公司简介内容，这里是公司简介内容，这里是公司简介内容，</p>
            <div class="exitCompanyBox"><a href="javascript:void(0);" class="exitCompany">退出公司</a></div>
          </div>

          <div class="BasicInfoEditWrap">
            <form>
              <div class="RelativeBox">
                <a class="contactsCusAdd mb15" href="javascript:void(0)">添加公司头像</a>
                <input type="file" class="BasicInfoEditFI conOpacity">
              </div>
              <div class="RelativeBox BasicInfoEditFile">
                <img src="../../images/userIcon.gif" class="img-circle BasicInfoEditIcon">
              </div>
              <div class="RelativeBox BasicInfoMsg">
                <input type="text" class="conIn" placeholder="Name(required)">
              </div>
              <div class="RelativeBox BasicInfoMsg">
                <input type="text" class="conIn" placeholder="Introduction">
              </div>
              <div class="RelativeBox BasicInfoMsg">
                <input type="text" class="conIn" placeholder="Linkedin">
              </div>
              <div class="RelativeBox BasicInfoMsg">
                <input type="text" class="conIn" placeholder="Address 1">
              </div>
              <div class="RelativeBox BasicInfoMsg">
                <input type="text" class="conIn" placeholder="Address 2">
              </div>
              <div class="RelativeBox BasicInfoMsg">
                <input type="text" class="conIn" placeholder="Address 3">
              </div>
              <div class="RelativeBox BasicInfoMsg">
                <input type="text" class="conIn" placeholder="Address 4">
              </div>
              <div class="RelativeBox BasicInfoMsg">
                <input type="text" class="conIn" placeholder="industry">
              </div>
              <div class="RelativeBox BasicInfoMsg">
                <input type="text" class="conIn" placeholder="采购产品">
              </div>
              <div class="RelativeBox BasicInfoMsg">
                <textarea class="conTxtArea" rows="6" placeholder="公司简介"></textarea>
              </div>
            </form>
          </div><!-- BasicInfoEditWrap -->

        </div>

        <div class="w3bf MinH conBg">
          <header class="conHeadTip">Quotation sub</header>
          <div class="BasicInfo3">
            <p>Your supplier can submit quotation through the following link</p>
            <p id="codeTxt2" class="BasicWeb">www.tablenote.com</p>
            <a class="code" href="javascript:void(0)" data-clipboard-action="copy" data-clipboard-target="#codeTxt2">Copy</a>
            <a href="loginregister.html">Go to</a>
          </div>
        </div>

      </div>

      <div role="tabpanel" class="tab-pane MinH niceScroll conBg" id="profile">
        <p class="seriesTip">Current plan：The standard version</p>
        <p class="seriesTime">Expiry date：2016-12-11</p>
        <div class="font0">
          <div class="w3bf settingMsgBox1">
            <p class="settingMsgH">Free</p>
            <p class="settingFree mb20">现在免费!</p>
            <p>同步所有设备</p>
            <p>产品报价管理</p>
            <p>设置不同报价模板</p>
            <p>条形码/二维码管理产品</p>
            <p>导出产品数据</p>
            <p>会议记录</p>
            <p>导出PDF格式的会议记录</p>
            <p>导出Excel格式的会议记录</p>
            <p>供应商资料管理</p>
            <p>供应商协作</p>
            <p>
              <small class="sMbox1small">*供应商直接提交或者编辑报价</small>
            </p>
          </div>

          <div class="w3bf settingMsgBox1">
            <p class="settingMsgH">Standard</p>
            <p class="settingFree mb20">￥999半年</p>
            <p>同步所有设备</p>
            <p>产品报价管理</p>
            <p>设置不同报价模板</p>
            <p>条形码/二维码管理产品</p>
            <p>导出产品数据</p>
            <p>会议记录</p>
            <p>导出PDF格式的会议记录</p>
            <p>导出Excel格式的会议记录</p>
            <p>供应商资料管理</p>
            <p>供应商协作</p>
            <p>
              <small class="sMbox1small">*供应商直接提交或者编辑报价</small>
            </p>
            <p>销售展示</p>
            <p>
              <small class="sMbox1small">*隐藏供应商信息及采购价格</small>
            </p>
            <p><a class="settingMsgBox1Link" href="#">Renew</a></p>
          </div>

          <div class="w3bf settingMsgBox1">
            <p class="settingMsgH">Pro</p>
            <p class="settingFree mb20">￥1499半年</p>
            <p>同步所有设备</p>
            <p>产品报价管理</p>
            <p>设置不同报价模板</p>
            <p>条形码/二维码管理产品</p>
            <p>导出产品数据</p>
            <p>会议记录</p>
            <p>导出PDF格式的会议记录</p>
            <p>导出Excel格式的会议记录</p>
            <p>供应商资料管理</p>
            <p>供应商协作</p>
            <p>
              <small class="sMbox1small">*供应商直接提交或者编辑报价</small>
            </p>
            <p>销售展示</p>
            <p>
              <small class="sMbox1small">*隐藏供应商信息及采购价格</small>
            </p>
            <p>编辑日志</p>
            <p>不同用户的编辑及修改记录，特别是价格修改记录</p>
            <p>多用户权限管理</p>
            <p>
              <small class="sMbox1small">*按照产品分类设置用户权限，产品数据更安全</small>
            </p>
            <p><a class="settingMsgBox1Link" href="#">Purchase</a></p>
          </div>
        </div>
      </div>

      <div role="tabpanel" class="tab-pane MinH niceScroll conBg" id="messages">
        <table class="table memberManage">
          <thead>
          <tr>
            <th class="membercol1">Photo</th>
            <th class="membercol2">Username</th>
            <th>In charge of</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td class="membercol1"><a href="userMsg.html"><img src="../../images/userIcon.gif" class="img-circle memberIcon"></a>
            </td>
            <td class="membercol2"><a href="userMsg.html">布兰妮</a></td>
            <td>
              陶瓷餐具，马克杯陶瓷餐具，马克杯陶瓷餐具，马克杯陶瓷餐具，马克杯陶瓷餐具，马克杯陶瓷餐具，马克杯陶瓷餐具，马克杯陶瓷餐具，马克杯陶瓷餐具，马克杯陶瓷餐具，马克杯陶瓷餐具，马克杯陶瓷餐具，马克杯陶瓷餐具，马克杯陶瓷餐具，马克杯陶瓷餐具，马克杯陶瓷餐具，马克杯陶瓷餐具，马克杯陶瓷餐具，马克杯陶瓷餐具，马克杯陶瓷餐具，马克杯陶瓷餐具，马克杯陶瓷餐具，马克杯陶瓷餐具，马克杯陶瓷餐具，马克杯陶瓷餐具，马克杯陶瓷餐具，马克杯陶瓷餐具，马克杯陶瓷餐具，马克杯陶瓷餐具，马克杯陶瓷餐具，马克杯陶瓷餐具，马克杯陶瓷餐具，马克杯
            </td>
          </tr>
          <tr>
            <td class="membercol1"><a href="#"><img src="../../images/userIcon.gif" class="img-circle memberIcon"></a></td>
            <td class="membercol2">布兰妮</td>
            <td>陶瓷餐具，马克杯</td>
          </tr>
          <tr>
            <td class="membercol1"><a href="#"><img src="../../images/userIcon.gif" class="img-circle memberIcon"></a></td>
            <td class="membercol2">布兰妮</td>
            <td>陶瓷餐具，马克杯</td>
          </tr>
          <tr>
            <td class="membercol1"><a href="#"><img src="../../images/userIcon.gif" class="img-circle memberIcon"></a></td>
            <td class="membercol2">布兰妮</td>
            <td>陶瓷餐具，马克杯</td>
          </tr>
          <tr>
            <td class="membercol1"><a href="#"><img src="../../images/userIcon.gif" class="img-circle memberIcon"></a></td>
            <td class="membercol2">布兰妮</td>
            <td>陶瓷餐具，马克杯</td>
          </tr>
          <tr>
            <td class="membercol1"><a href="#"><img src="../../images/userIcon.gif" class="img-circle memberIcon"></a></td>
            <td class="membercol2">布兰妮</td>
            <td>陶瓷餐具，马克杯</td>
          </tr>
          <tr>
            <td class="membercol1"><a href="#"><img src="../../images/userIcon.gif" class="img-circle memberIcon"></a></td>
            <td class="membercol2">布兰妮</td>
            <td>陶瓷餐具，马克杯</td>
          </tr>
          <tr>
            <td class="membercol1"><a href="#"><img src="../../images/userIcon.gif" class="img-circle memberIcon"></a></td>
            <td class="membercol2">布兰妮</td>
            <td>陶瓷餐具，马克杯</td>
          </tr>
          <tr>
            <td class="membercol1"><a href="#"><img src="../../images/userIcon.gif" class="img-circle memberIcon"></a></td>
            <td class="membercol2">布兰妮</td>
            <td>陶瓷餐具，马克杯</td>
          </tr>
          <tr>
            <td class="membercol1"><a href="#"><img src="../../images/userIcon.gif" class="img-circle memberIcon"></a></td>
            <td class="membercol2">布兰妮</td>
            <td>陶瓷餐具，马克杯</td>
          </tr>
          <tr>
            <td class="membercol1"><a href="#"><img src="../../images/userIcon.gif" class="img-circle memberIcon"></a></td>
            <td class="membercol2">布兰妮</td>
            <td>陶瓷餐具，马克杯</td>
          </tr>
          <tr>
            <td class="membercol1"><a href="#"><img src="../../images/userIcon.gif" class="img-circle memberIcon"></a></td>
            <td class="membercol2">布兰妮</td>
            <td>陶瓷餐具，马克杯</td>
          </tr>
          <tr>
            <td class="membercol1"><a href="#"><img src="../../images/userIcon.gif" class="img-circle memberIcon"></a></td>
            <td class="membercol2">布兰妮</td>
            <td>陶瓷餐具，马克杯</td>
          </tr>
          <tr>
            <td class="membercol1"><a href="#"><img src="../../images/userIcon.gif" class="img-circle memberIcon"></a></td>
            <td class="membercol2">布兰妮</td>
            <td>陶瓷餐具，马克杯</td>
          </tr>
          <tr>
            <td class="membercol1"><a href="#"><img src="../../images/userIcon.gif" class="img-circle memberIcon"></a></td>
            <td class="membercol2">布兰妮</td>
            <td>陶瓷餐具，马克杯</td>
          </tr>
          <tr>
            <td class="membercol1"><a href="#"><img src="../../images/userIcon.gif" class="img-circle memberIcon"></a></td>
            <td class="membercol2">布兰妮</td>
            <td>陶瓷餐具，马克杯</td>
          </tr>
          <tr>
            <td class="membercol1"><a href="#"><img src="../../images/userIcon.gif" class="img-circle memberIcon"></a></td>
            <td class="membercol2">布兰妮</td>
            <td>陶瓷餐具，马克杯</td>
          </tr>
          <tr>
            <td class="membercol1"><a href="#"><img src="../../images/userIcon.gif" class="img-circle memberIcon"></a></td>
            <td class="membercol2">布兰妮</td>
            <td>陶瓷餐具，马克杯</td>
          </tr>
          <tr>
            <td class="membercol1"><a href="#"><img src="../../images/userIcon.gif" class="img-circle memberIcon"></a></td>
            <td class="membercol2">布兰妮</td>
            <td>陶瓷餐具，马克杯</td>
          </tr>
          <tr>
            <td class="membercol1"><a href="#"><img src="../../images/userIcon.gif" class="img-circle memberIcon"></a></td>
            <td class="membercol2">布兰妮</td>
            <td>陶瓷餐具，马克杯</td>
          </tr>
          <tr>
            <td class="membercol1"><a href="#"><img src="../../images/userIcon.gif" class="img-circle memberIcon"></a></td>
            <td class="membercol2">布兰妮</td>
            <td>陶瓷餐具，马克杯</td>
          </tr>
          <tr>
            <td class="membercol1"><a href="#"><img src="../../images/userIcon.gif" class="img-circle memberIcon"></a></td>
            <td class="membercol2">布兰妮</td>
            <td>陶瓷餐具，马克杯</td>
          </tr>
          <tr>
            <td class="membercol1"><a href="#"><img src="../../images/userIcon.gif" class="img-circle memberIcon"></a></td>
            <td class="membercol2">布兰妮</td>
            <td>陶瓷餐具，马克杯</td>
          </tr>
          <tr>
            <td class="membercol1"><a href="#"><img src="../../images/userIcon.gif" class="img-circle memberIcon"></a></td>
            <td class="membercol2">布兰妮</td>
            <td>陶瓷餐具，马克杯</td>
          </tr>
          </tbody>
        </table>
      </div>
      <div role="tabpanel" class="tab-pane MinH niceScroll conBg" id="approval">
        <table class="table memberManage">
          <thead>
          <tr>
            <th class="membercol1">头像</th>
            <th class="membercol2">用户名</th>
            <th>邮箱</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td class="membercol1"><a href="userMsg.html"><img src="../../images/userIcon.gif" class="img-circle memberIcon"></a>
            </td>
            <td class="membercol2"><a href="userMsg.html">布兰妮</a></td>
            <td><span class="approvalEmail">123456@qq.com</span> <a class="approvalLink approvalAgree"
                                                                    href="javascript:void(0);">同意</a> <a
              class="approvalLink approvalRefused " href="javascript:void(0);">拒绝</a></td>
          </tr>
          <tr>
            <td class="membercol1"><a href="#"><img src="../../images/userIcon.gif" class="img-circle memberIcon"></a></td>
            <td class="membercol2">布兰妮</td>
            <td><span class="approvalEmail">123456@qq.com</span> <a class="approvalLink approvalAgree"
                                                                    href="javascript:void(0);">同意</a> <a
              class="approvalLink approvalRefused " href="javascript:void(0);">拒绝</a></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div><!-- tab-content -->
  </section>
</div>
