<div id="conBoxA" class="row conBox">

  <section class="row ClearLR font0" style="background-color: #ffffff;">
    <div class="col-sm-3">
      <header class="tempH">{{'quotation.info'|i18n}}</header>
      <!--<p class="changePrice"><a id="changePrice" href="javascript:void(0)"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span><span class="changePriceTxt">切换到输入模式</span></a></p>-->
      <div id="PriceShow">
        <div class="RelativeBox PriceBox">
          <span class="showLabel">{{'box.time'|i18n}}</span>
          <p>{{quotation.createTime|date:'yyyy-MM-dd'}}</p>
        </div>
        <div class="RelativeBox PriceBox">
          <span class="showLabel">Saved on</span>
          <p>2016-07-03</p>
        </div>
        <div class="RelativeBox PriceBox">
          <span class="showLabel">{{'box.creator'|i18n}}</span>
          <p>{{quotation.extra.quotInfo.CreatBy}}</p>
        </div>
        <div class="RelativeBox PriceBox">
          <span class="showLabel">{{'status'|i18n}}</span>
          <p>{{quotation.status}}</p>
        </div>
        <!--<div class="RelativeBox">-->
          <!--<textarea class="PriceTxt" rows="5"></textarea>-->
        <!--</div>-->
        <div class="RelativeBox PriceBox">
          <span class="showLabel">{{'supplier'|i18n}}</span>
          <p>{{quotation.extra.quotInfo.Supplier}}</p>
        </div>
        <!--<div class="RelativeBox PriceBox">-->
          <!--<span class="showLabel">Contact</span>-->
          <!--<p>Ms zhang</p>-->
        <!--</div>-->
        <!--<div class="RelativeBox PriceBox">-->
          <!--<span class="showLabel">Reference</span>-->
          <!--<p>QT160700001</p>-->
        <!--</div>-->
        <div class="RelativeBox PriceBox">
          <span class="showLabel">{{'box.subject'|i18n}}</span>
          <p>
            <textarea ng-model="quotation.extra.quotInfo.Subject" cols="30" rows="5" placeholder="{{'box.subject'|i18n}}"></textarea>
          </p>
        </div>
        <div class="RelativeBox PriceBox">
          <span class="showLabel">{{'quote.term'|i18n}}</span>
          <p><input type="text" class="conIn" ng-model="quotation.extra.quotInfo.Quote_term" placeholder="{{'quote.term'|i18n}}"/></p>
        </div>
        <div class="RelativeBox PriceBox">
          <span class="showLabel">{{'quotation.remark'|i18n}}</span>
          <p>
            <textarea ng-model="quotation.extra.quotInfo.Remark" cols="30" rows="5" placeholder="{{'quotation.remark'|i18n}}"></textarea>
          </p>
        </div>
        <!--<div class="RelativeBox PriceBox">-->
          <!--<span class="showLabel">{{'quotation.payment'|i18n}}</span>-->
          <!--<p><input type="text" class="conIn" ng-model="quotation.extra.quotInfo.Payment" placeholder="{{'quotation.payment'|i18n}}"/></p>-->
        <!--</div>-->
        <!--<div class="RelativeBox PriceBox">-->
          <!--<span class="showLabel">{{'quotation.loadingPort'|i18n}}</span>-->
          <!--<p><input type="text" class="conIn" ng-model="quotation.extra.quotInfo.Loading_port" placeholder="{{'quotation.loadingPort'|i18n}}"/></p>-->
        <!--</div>-->
        <!--<div class="RelativeBox PriceBox">-->
          <!--<span class="showLabel">{{'expiry.date'|i18n}}</span>-->
          <!--<p><input type="text" class="conIn" ng-model="quotation.extra.quotInfo.Expry_date" placeholder="{{'expiry.date'|i18n}}"/></p>-->
        <!--</div>-->
        <div class="RelativeBox PriceBox">
          <span class="showLabel">{{'quotation.deliveryTime'|i18n}}</span>
          <p><input type="text" class="conIn" ng-model="quotation.extra.quotInfo.Delivery_time" placeholder="{{'quotation.deliveryTime'|i18n}}"/></p>
        </div>
        <div class="RelativeBox PriceBox">
          <button class="exitCompany" type="button" id="userEdit" ng-click="saveQuotation(quotation)" style="width:100px;">{{'save'|i18n}}</button>
        </div>

        <!--<div class="RelativeBox PriceBox">-->
        <!--<span class="showLabel">Attachment</span>-->
        <!--<ul>-->
        <!--<li>工厂iso2001证书</li>-->
        <!--<li>工厂营业执照</li>-->
        <!--</ul>-->
        <!--</div>-->
      </div><!-- PriceShow -->

      <!--<div id="PriceHide" class="PriceHide">-->
      <!--<form>-->
      <!--<div class="RelativeBox PriceBox">-->
      <!--<span class="showLabel">Created on</span>-->
      <!--<p>2016-07-02</p>-->
      <!--</div>-->
      <!--<div class="RelativeBox PriceBox">-->
      <!--<span class="showLabel">Saved on</span>-->
      <!--<p>2016-07-03</p>-->
      <!--</div>-->
      <!--<div class="RelativeBox PriceBox">-->
      <!--<span class="showLabel">Created by</span>-->
      <!--<p>by Huang</p>-->
      <!--</div>-->
      <!--<div class="RelativeBox PriceBox">-->
      <!--<span class="showLabel">Status</span>-->
      <!--<p>Not reviewed yet</p>-->
      <!--</div>-->
      <!--<div class="RelativeBox">-->
      <!--<textarea class="PriceTxt" rows="5"></textarea>-->
      <!--</div>-->
      <!--<div class="RelativeBox font0 inputBox">-->
      <!--<span class="showLabel">Supplier</span>-->
      <!--<div class="customSelect contactSelect">-->
      <!--<a class="customSelLink contactSelLink" href="javascript:void(0)"><span class="customSelTxt">Supplier</span><span class="glyphicon customSelIcon glyphicon-menu-down" aria-hidden="true"></span></a>-->
      <!--<ul class="list-unstyled customSelMsg contactSelUl" style="display: none;">-->
      <!--<li>供应商2</li>-->
      <!--<li>供应商3</li>-->
      <!--<li>供应商4</li>-->
      <!--</ul>-->
      <!--</div>-->
      <!--</div>-->
      <!--<div class="RelativeBox font0 inputBox">-->
      <!--<span class="showLabel">Supplier</span>-->
      <!--<input type="text" class="inputVal" value="101010101">-->
      <!--</div>-->
      <!--<div class="RelativeBox font0 inputBox">-->
      <!--<span class="showLabel">Contact</span>-->
      <!--<input type="text" class="inputVal" value="供应商类型">-->
      <!--</div>-->
      <!--<div class="RelativeBox font0 inputBox">-->
      <!--<span class="showLabel">Reference</span>-->
      <!--<input type="text" class="inputVal" value="公司名">-->
      <!--</div>-->
      <!--<div class="RelativeBox font0 inputBox">-->
      <!--<span class="showLabel">Subject</span>-->
      <!--<input type="text" class="inputVal" value="公司地址">-->
      <!--</div>-->
      <!--<div class="RelativeBox font0 inputBox">-->
      <!--<span class="showLabel">Quote term</span>-->
      <!--<input type="text" class="inputVal" value="www.123.com">-->
      <!--</div>-->
      <!--<div class="RelativeBox font0 inputBox">-->
      <!--<span class="showLabel">Payment</span>-->
      <!--<input type="text" class="inputVal" value="付款方式">-->
      <!--</div>-->
      <!--<div class="RelativeBox font0 inputBox">-->
      <!--<span class="showLabel">Loading port</span>-->
      <!--<input type="text" class="inputVal" value="经营产品">-->
      <!--</div>-->
      <!--<div class="RelativeBox font0 inputBox">-->
      <!--<span class="showLabel">Expiry date</span>-->
      <!--<input type="text" class="inputVal" value="银行账户">-->
      <!--</div>-->
      <!--<div class="RelativeBox font0 inputBox">-->
      <!--<span class="showLabel">Delivery time</span>-->
      <!--<input type="text" class="inputVal" value="银行账户">-->
      <!--</div>-->
      <!--<div class="RelativeBox font0 inputBox PriceBox">-->
      <!--<span class="showLabel">Attavhment</span>-->
      <!--<ul>-->
      <!--<li class="detailZipInn"><a href="javascript:void(0)"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>工厂iso2001证书</li>-->
      <!--<li class="detailZipInn"><a href="javascript:void(0)"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>工厂营业执照</li>-->
      <!--</ul>-->
      <!--</div>-->
      <!--</form>-->
      <!--</div>&lt;!&ndash; PriceHide &ndash;&gt;-->
      <!--</div>&lt;!&ndash; w24bf &ndash;&gt;-->
    </div>
    <div class="col-sm-3">
      <div>
        <div id="div_real_image">
          <img ng-src="{{currentImage.url|baseUrl}}" style="width:400px;padding:0px;"/>
        </div>
        <div class="detailNavWrap" id="div_thumbs">
          <a ng-repeat="image in images" style="width:50px;">
            <img ng-src="{{image.url|baseUrl}}" class="img-responsive img-thumbnail" style="margin:auto;width:100px;padding:0px;" ng-click="initImage(image)"/>
            <span><img ng-click="delImage($index)" src="../../images/x_alt.png" style="position:relative;width:16px;height:16px;top:-65px;left:-10px;cursor: pointer;"></span>
          </a>
          <label style="width:100px;height:100px;border:2px solid #ccc;cursor:pointer;">
                    <span id="scan" style="position: relative">
                      <img src="../../images/add.png" style="line-height:100px;height:100px;"/>
                    </span>
            <input style="width: 60px;height:40px; position: absolute;top:-6px;left: -4px;opacity: 0; filter:alpha(opacity=0)" type="file" accept="image/*" file-model="productImage" onchange="angular.element(this).scope().selectImage(this.files)"/>
          </label>
        </div>
        <!--<div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">-->
        <!--<div uib-slide ng-repeat="slide in images track by slide.id" index="slide.id">-->
        <!--<img ng-src="{{slide.url|baseUrl}}" style="margin:auto;width:250px;height: 250px;">-->
        <!--<div class="carousel-caption">-->
        <!--<p>{{slide.text}}</p>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
      </div>
    </div>
    <div class="col-sm-4">
      <header class="tempH">{{'product.info'|i18n}}</header>
      <form name="productUpdate">
        <div class="ProductDetailMsg">
          <div>
            <p><span class="showLabel">{{'depart'|i18n}}：</span> {{product.extra.Department}}</p>
            <p><span class="showLabel">{{'category'|i18n}}：</span>
              <select class="conIn" ng-model="product.extra.Category" ng-options="category for category in categories">
              </select>
            </p>
            <p><span class="showLabel">{{'currency'|i18n}}：</span>
              <select class="conIn" ng-model="product.extra.Currency" ng-options="currency for currency in currencys">
              </select>
            </p>
            <p><span class="showLabel">{{'expiry.date'|i18n}}：</span>
              <input type="text" class="conIn" ng-model="product.extra.Expiry_date" placeholder="{{'expiry.date'|i18n}}"/>
            </p>
          </div>
          <div>
            <h4>{{'product.detail'|i18n}}</h4>
            <p ng-repeat="pDetail in product.extra['Product detail']"><span class="showLabel">{{pDetail.key}}：</span>
              <input type="text" class="conIn" ng-model="$parent.pDetailValue[$index]"
                     placeholder="{{pDetail.key}}" ng-value="pDetail.value"/>
            </p>
          </div>
          <div>
            <h4>{{'specification.detail'|i18n}}</h4>
            <p ng-repeat="spDetail in product.extra['Specification detail']"><span
              class="showLabel">{{spDetail.key}}：</span>
              <input type="text" class="conIn" ng-model="$parent.spDetailValue[$index]" placeholder="{{spDetail.key}}" ng-value="spDetail.value"/>
            </p>
          </div>
          <div>
            <h4>{{'shipping.detail'|i18n}}</h4>
            <p ng-repeat="sDetail in product.extra['Shipping detail']"><span class="showLabel">{{sDetail.key}}：</span>
              <input type="text" class="conIn" ng-model="$parent.sDetailValue[$index]"
                     placeholder="{{sDetail.key}}" ng-value="sDetail.value"/>
            </p>
          </div>
          <div class="text-center">
            <button class="exitCompany" type="button" ng-click="saveProduct(pDetailValue, spDetailValue, sDetailValue)"
                    style="width:100px;">{{'save'|i18n}}
            </button>
          </div>
        </div>
      </form>
    </div>
    <div class="col-sm-2">
      <header class="tempH">{{'nav.menu'|i18n}}</header>
      <div id="detailNavWrap" class="detailNavWrap">
        <a ui-sref="index.product.detail({id:row.id,quotationId:row.quotationId})" ng-repeat="row in products" style="width:50px;"><img
          ng-src="{{row.image0|baseUrl}}" class="img-responsive img-thumbnail"
          style="margin:auto;width:50px;padding:0px;"/></a>
      </div>
    </div>
    <!--<div class="container">-->
    <!--<div id="ProductDetailWrap" class="row">-->

    <!--</div>&lt;!&ndash; ProductDetailWrap &ndash;&gt;-->


    <!--<div id="ProductDetailHide" class="ProductDetailHide">-->
    <!--<div class="ProductDetailEditImg">-->

    <!--<div class="ProductDetailImgW">-->
    <!--<div id="ProDetailImg" class="ProductDetailImgB"><img class="img-responsive" src="img/1.png"><a href="javascript:void(0);"><span class="glyphicon glyphicon-trash"></span></a> </div>-->
    <!--<ul id="ProDetailImgInn" class="ProductDetailImgInn">-->
    <!--<li><img class="img-responsive" src="img/userIcon.gif"><a href="javascript:void(0);"><span class="glyphicon glyphicon-trash"></span></a> </li>-->
    <!--<li><img class="img-responsive" src="img/1.png"><a href="javascript:void(0);"><span class="glyphicon glyphicon-trash"></span></a> </li>-->
    <!--<li><img class="img-responsive" src="img/1.png"><a href="javascript:void(0);"><span class="glyphicon glyphicon-trash"></span></a> </li>-->
    <!--<li><img class="img-responsive" src="img/1.png"><a href="javascript:void(0);"><span class="glyphicon glyphicon-trash"></span></a> </li>-->
    <!--</ul>-->
    <!--</div>-->

    <!--<div class="codeBox">-->
    <!--<div class="codeBoxInn">-->
    <!--<p>扫描条形码</p>-->
    <!--<img src="img/2.png">-->
    <!--</div>-->
    <!--<div class="codeBoxInn">-->
    <!--<p>二维码</p>-->
    <!--<img src="img/3.png">-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="detailZipBox">-->
    <!--<p>附件</p>-->
    <!--<div class="detailZipInn"><a href="javascript:void(0);"><span class="glyphicon glyphicon-trash"></span></a> HG003 Test Reports</div>-->
    <!--<div class="detailZipInn"><a href="javascript:void(0);"><span class="glyphicon glyphicon-trash"></span></a> HG003 Test Reports</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="ProductDetailEditTxt">-->
    <!--<div class="ProductDetailEditTxtInn">-->
    <!--<form>-->
    <!--<div class="RelativeBox ProductDetailEditBox">-->
    <!--<span>Department</span>-->
    <!--<div class="customSelect ProductEditSel">-->
    <!--<a class="customSelLink ProductEditSelLink" href="javascript:void(0)"><span class="customSelTxt">日用品</span><span class="glyphicon customSelIcon glyphicon-menu-down" aria-hidden="true"></span></a>-->
    <!--<ul class="list-unstyled customSelMsg ProductEditSelMsg">-->
    <!--<li>部门1</li>-->
    <!--<li>部门2</li>-->
    <!--</ul>-->
    <!--</div>-->
    <!--</div>-->

    <!--<div class="RelativeBox ProductDetailEditBox">-->
    <!--<span>Category</span>-->
    <!--<div class="customSelect ProductEditSel">-->
    <!--<a class="customSelLink ProductEditSelLink" href="javascript:void(0)"><span class="customSelTxt">未分类</span><span class="glyphicon customSelIcon glyphicon-menu-down" aria-hidden="true"></span></a>-->
    <!--<ul class="list-unstyled customSelMsg ProductEditSelMsg">-->
    <!--<li>部门1</li>-->
    <!--<li>部门2</li>-->
    <!--</ul>-->
    <!--</div>-->
    <!--</div>-->

    <!--<div class="RelativeBox ProductDetailEditBox">-->
    <!--<span>Buyer</span>-->
    <!--<div class="customSelect ProductEditSel">-->
    <!--<a class="customSelLink ProductEditSelLink" href="javascript:void(0)"><span class="customSelTxt">未选择</span><span class="glyphicon customSelIcon glyphicon-menu-down" aria-hidden="true"></span></a>-->
    <!--<ul class="list-unstyled customSelMsg ProductEditSelMsg">-->
    <!--<li>部门1</li>-->
    <!--<li>部门2</li>-->
    <!--</ul>-->
    <!--</div>-->
    <!--</div>-->

    <!--<h4>Product detail</h4>-->

    <!--<div class="RelativeBox ProductDetailEditBox">-->
    <!--<span>货号</span>-->
    <!--<input type="text"></input>-->
    <!--</div>-->

    <!--<div class="RelativeBox ProductDetailEditBox">-->
    <!--<span>品名</span>-->
    <!--<input type="text"></input>-->
    <!--</div>-->

    <!--<div class="RelativeBox ProductDetailEditBox">-->
    <!--<span>Price</span>-->
    <!--<input type="text"></input>-->
    <!--</div>-->

    <!--<div class="RelativeBox ProductDetailEditBox">-->
    <!--<span>起订量</span>-->
    <!--<input type="text"></input>-->
    <!--</div>-->

    <!--<div class="RelativeBox ProductDetailEditBox">-->
    <!--<span>包装</span>-->
    <!--<input type="text"></input>-->
    <!--</div>-->

    <!--<h4>specification</h4>-->

    <!--<div class="RelativeBox ProductDetailEditBox">-->
    <!--<span>材料</span>-->
    <!--<input type="text"></input>-->
    <!--</div>-->

    <!--<div class="RelativeBox ProductDetailEditBox">-->
    <!--<span>尺寸</span>-->
    <!--<input type="text"></input>-->
    <!--</div>-->

    <!--<h4>Shipping detail</h4>-->

    <!--<div class="RelativeBox ProductDetailEditBox">-->
    <!--<span>外箱装量</span>-->
    <!--<input type="text"></input>-->
    <!--</div>-->

    <!--<div class="RelativeBox ProductDetailEditBox">-->
    <!--<span>外箱细节</span>-->
    <!--<input type="text"></input>-->
    <!--</div>-->

    <!--<div class="RelativeBox ProductDetailEditBox">-->
    <!--<span>外箱重量</span>-->
    <!--<input type="text"></input>-->
    <!--</div>-->

    <!--<div class="RelativeBox ProductDetailEditBox">-->
    <!--<span>装柜情况</span>-->
    <!--<input type="text"></input>-->
    <!--<input type="text"></input>-->
    <!--<input type="text"></input>-->
    <!--</div>-->

    <!--</form>-->
    <!--</div>&lt;!&ndash; ProductDetailEditTxtInn &ndash;&gt;-->

    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="w24bf  MinH">-->
    <!--<header class="tempH">导航栏</header>-->
    <!--<div id="detailNavWrap" class="detailNavWrap">-->
    <!--<a href="javascript:void(0);"><img class="img-responsive img-thumbnail" src="img/1.png"></a>-->
    <!--<a href="javascript:void(0);"><img class="img-responsive img-thumbnail" src="img/1.png"></a>-->
    <!--<a href="javascript:void(0);"><img class="img-responsive img-thumbnail" src="img/1.png"></a>-->
    <!--<a href="javascript:void(0);"><img class="img-responsive img-thumbnail" src="img/1.png"></a>-->
    <!--<a href="javascript:void(0);"><img class="img-responsive img-thumbnail" src="img/1.png"></a>-->
    <!--<a href="javascript:void(0);"><img class="img-responsive img-thumbnail" src="img/1.png"></a>-->
    <!--<a href="javascript:void(0);"><img class="img-responsive img-thumbnail" src="img/1.png"></a>-->
    <!--<a href="javascript:void(0);"><img class="img-responsive img-thumbnail" src="img/1.png"></a>-->
    <!--<a href="javascript:void(0);"><img class="img-responsive img-thumbnail" src="img/1.png"></a>-->
    <!--</div>-->
    <!--</div>-->
  </section>
</div>
