<!-- 主要内容盒子 -->
<div class="row conBox">
  <section class="row ClearLR massUploadBox MinH">
    <ul>
      <li>1,Please rename the workbook as DATA;</li>
      <li>2,Please select the filed of your uploaded data to match the filed of the system</li>
      <li>3,Please add pictures to product after the data is uploaded</li>
    </ul>
    <p class="text-center"><a class="downloadMb" href="#">Download template of the product data sheet</a></p>
    <div class="text-center"><a class="importExcel" href="#">导入Excel</a></div>
  </section>
</div>
<!-- 主要内容盒子 -->
