<div class="row conBox">
  <section class="row ClearLR addNewProductBox MinH">
    <p class="text-center"><strong>Step One：Select department</strong></p>
    <p class="text-center">PS:You CANNOT start until you select a department</p>
    <div class="mb30 text-center">
      <div class="customSelect">
        <a id="selParted" class="customSelLink addNewProductSelLink" href="javascript:void(0)"><span class="customSelTxt">Please select department</span><span class="glyphicon customSelIcon glyphicon-menu-down" aria-hidden="true"></span></a>
        <ul id="selPart" class="list-unstyled customSelMsg addNewProductSelMsg">
        </ul>
      </div>
    </div>
    <div class="mb30 text-center">
      <div class="customSelect">
        <a id="selSorted" class="customSelLink addNewProductSelLink" href="javascript:void(0)"><span class="customSelTxt">Please select category</span><span class="glyphicon customSelIcon glyphicon-menu-down" aria-hidden="true"></span></a>
        <ul id="selSort" class="list-unstyled customSelMsg addNewProductSelMsg">
        </ul>
      </div>
    </div>
    <p class="text-center"><strong>Step Two：Select category</strong></p>
    <p class="addNewProductTet">PS：Different categories maybe handled by different person,so a accurate category is very important for the quotation follow-up.</p>
    <p class="addNewProductTet">if you are submitting different categories or you are not sure the catgory for the product,you can edit the category later or ignore it.</p>
    <p class="addNewProductTet">请按照要求提供产品报价的详细内容。如果是容器类的产品，在尺寸一栏同时提供产品容量。</p>
    <div class="addNewProductCheck"><label><input type="checkbox"> <span>Remember the department and category I chose</span></label></div>
    <div class="addNewProductLink"><a id="addDetail" href="javascript:void(0);">Create one by one</a></div>
    <div class="addNewProductLink"><a href="#">Mass upload from Excel</a></div>
  </section>
</div>
