<div class="container-fluid">
  <header class="row loginHead">www.tablenote.com</header>
  <div class="row">
    <!-- register -->
    <div class="registerWrap" ng-show="!showLogin" style="padding-top:100px;">
      <h3 class="text-center mb20">还没有TableNote账户？现在注册</h3>
      <form class="form-horizontal" role="form" name="registerForm" ng-submit="registerUser(user)">
        <!--<div class="LoginBox">-->
          <!--<label class="LoginTxt LoginTxtIcon">添加个人头像</label>-->
          <!--<div class="LoginFileBox">-->
            <!--<input type="file" class="conOpacity" file-model="avatar"/>-->
            <!--<img class="img-circle LoginUserIcon" src="../../../images/1.png">-->
          <!--</div>-->
        <!--</div>-->
        <div class="LoginBox">
          <label class="LoginTxt"><span class="mustLogin">*</span> 用户名</label>
          <input type="text" ng-model="user.user" class="LoginIn" required placeholder="请输入用户名"/>
        </div>
        <div class="LoginBox">
          <label class="LoginTxt"><span class="mustLogin">*</span> 邮箱</label>
          <input type="email" class="LoginIn" ng-model="user.email" required placeholder="请输入邮箱"/>
        </div>
        <div class="LoginBox">
          <label class="LoginTxt"><span class="mustLogin">*</span> 密码</label>
          <input type="password" required ng-model="user.password" class="LoginIn" placeholder="请输入密码"/>
        </div>
        <div class="LoginBox">
          <label class="LoginTxt"><span class="mustLogin">*</span> 确认密码</label>
          <input type="password" required ng-model="user.confirmPassword" class="LoginIn" placeholder="请输入确认密码"/>
        </div>
        <div class="LoginBox">
          <label class="LoginTxt">职位</label>
          <input type="text" class="LoginIn" ng-model="position" placeholder="请输入职位">
        </div>
        <div class="LoginBox">
          <label class="LoginTxt">固定电话</label>
          <input type="text" class="LoginIn" ng-model="phone" placeholder="请输入固定电话">
        </div>
        <div class="LoginBox">
          <label class="LoginTxt">手机</label>
          <input type="text" class="LoginIn" ng-model="cellphone" placeholder="请输入手机">
        </div>
        <div class="LoginBox">
          <label class="LoginTxt">领英账号</label>
          <input type="text" class="LoginIn" ng-model="linkin" placeholder="请输入领英帐号">
        </div>
        <div class="LoginBox">
          <label class="LoginTxt">What's App账户</label>
          <input type="text" class="LoginIn" ng-model="whatapp" placeholder="请输入app帐户">
        </div>
        <div class="LoginBox">
          <label class="LoginTxt">Skype账号</label>
          <input type="text" class="LoginIn" ng-model="skype" placeholder="请输入skype帐号">
        </div>
        <div class="LoginBox">
          <label class="LoginTxt">微信账号</label>
          <input type="text" class="LoginIn" ng-model="wechat" placeholder="请输入微信帐号">
        </div>
        <div class="RelativeBox agentment">
          <div class="checkWrap mb10"><input type="checkbox" checked="checked"> 遵守TableNote.com会员协议,愿意接收相关来自TableNote.com的会员及服务邮件
          </div>
        </div>
        <div class="RelativeBox mb10">
          <button type="submit" ng-disabled="registerForm.$invalid || user.password!=user.confirmPassword" class="LoginBtn">Sign in</button>
        </div>
        <p class="text-right"><a ng-click="showLoginPage()" id="changeLogin" href="javascript:void(0);">已注册，去登录</a></p>
      </form>
    </div><!-- register -->

    <!-- login -->
    <div id="login" class="loginWrap" ng-show="showLogin" style="padding-top:100px;">
      <h3 class="text-center mb20">请登录您的TableNote账户</h3>
      <form role="form" name="loginForm" ng-submit="loginTrade(login)">
        <div class="RelativeBox mb10">
          <input type="email" ng-model="login.email" class="LoginIn" required placeholder="Enter email"/>
        </div>
        <div class="RelativeBox mb10">
          <input type="password" ng-model="login.password" class="LoginIn" required placeholder="Password"/>
        </div>
        <div class="RelativeBox mb10">
          <div class="checkWrap"><input type="checkbox" checked="checked"> Check me out</div>
          <a class="forget" href="javascript:void(0);">Forget Password</a>
        </div>
        <button type="submit" ng-disabled="loginForm.$invalid" id="LoginBtn" class="LoginBtn">Login</button>
        <p class="text-right"><a ng-click="showRegisterPage()" id="changeRegister" href="javascript:void(0);">还没有TableNote账户？现在注册</a></p>
      </form>
    </div>
    <!-- login -->
  </div>
</div>
<!-- container-fluid -->
