<div class="container-fluid">
  <div class="companyWrap" style="padding-top: 175px;">
    <h4 class="modal-title text-center" id="myModalLabel" style="padding-left:10px;">{{'join.company'|i18n}}</h4>
    <div class="modal-body">
      <p>{{'join.company.tip'|i18n}}</p>
      <form name="joinCompanyForm" ng-submit="joinCompany(joinCompany)">
        <div class="RelativeBox mb10">
          <input type="text" class="LoginIn" ng-model="joinCompany.companyCode" required placeholder="{{'company.code'|i18n}}">
        </div>
        <div class="applyjoinBox">
          <button class="applyjoin" type="submit" ng-disabled="joinCompanyForm.$invalid">{{'apply.join'|i18n}}</button>
        </div>
      </form>
    </div>
  </div>
</div>
