<!-- 头部固定栏 -->
<header class="conHeader">
  <div class="HeadMsg">
    <span class="headMsgTit">{{'contact.setting'|i18n}}</span>
    <a class="conHeadLink contactImport" ng-click="saveSupplier()">{{'save'|i18n}}</a>
    <a class="conHeadLink contactAddPerson" ng-click="addSupplier()">{{'new'|i18n}}</a>
    <!--<a class="conHeadLink contactImport" href="#">批量导入</a>-->
    <!--<a class="conHeadLink contactAddPerson" href="#">添加联系人</a>-->
    <a class="conHeadLink contactSave" ng-click="logout()">{{'logout'|i18n}}</a>
  </div>
</header>
<!-- 头部固定栏 -->
