<!-- 头部固定栏 -->
<header class="conHeader">
  <div class="HeadMsg">
    <span class="headMsgTit">{{'contact.setting'|i18n}}</span>
    <!--<a class="conHeadLink contactImport" ng-click="saveSupplier()">{{'batch.import'|i18n}}</a>-->
    <a class="conHeadLink contactAddPerson" ng-click="addSupplier()">{{'new.supplier'|i18n}}</a>
    <a class="conHeadLink contactImport" ng-click="addContact()">{{'new.contact'|i18n}}</a>
    <!--<a class="conHeadLink contactAddPerson" href="#">添加联系人</a>-->
  </div>
</header>
<!-- 头部固定栏 -->
