<!-- 头部固定栏 -->
<header class="conHeader">
  <div class="HeadMsg">
    <span class="headMsgTit">{{'junk'|i18n}}</span>
    <a id="changList" class="changList" href="javascript:void(0);"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span></a>
    <a id="showHideLink" class="conHeadLink showHideLink showHideLink02" href="javascript:void(0);">隐藏选项栏</a>
    <a class="conHeadLink garbageRecome" href="javascript:void(0)">恢复</a>
    <a class="conHeadLink contactSave" ng-click="logout()">退出</a>
  </div>
</header>
<!-- 头部固定栏 -->
