<!-- 头部固定栏 -->
<header class="conHeader">
  <div class="HeadMsg">
    <span class="headMsgTit">收件箱</span>
    <a id="changList" class="changList" href="javascript:void(0);"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span></a>
    <!-- <a  class="conHeadLink showHideLink" href="javascript:void(0);">隐藏选项栏</a> -->
    <a class="conHeadLink inboxAdd" href="javascript:void(0)">添加到样品单</a>
    <a class="conHeadLink inboxHistory" href="history.html">历史记录</a>
    <a class="conHeadLink inboxUpdate" href="javascript:void(0)">要求更新</a>
    <a class="conHeadLink inboxEdit" href="edit.html">编辑</a>
    <div class="conHeadLink inboxOut inboxOuta">
      <div class="RelativeBox">
        导出
        <div class="OutfileBox OutfileBoxa">
          <a href="javascript:void(0);">Excel</a>
          <a href="javascript:void(0);">PDF</a>
          <a href="javascript:void(0);">二维码</a>
        </div>
      </div>
    </div>
    <a class="conHeadLink inboxAudit" href="javascript:void(0)">审核</a>
  </div>
</header>
<!-- 头部固定栏 -->
