<!-- 头部固定栏 -->
<header class="conHeader">
  <div class="HeadMsg">
    <span class="headMsgTit">{{'outbox'|i18n}}</span>
    <a id="changList" class="changList" href="javascript:void(0);"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span></a>
    <a id="showHideLink" class="conHeadLink showHideLink showHideLink01" href="javascript:void(0);">隐藏选项栏</a>
    <a class="conHeadLink outboxHistory" href="javascript:void(0)">历史记录</a>
    <a class="conHeadLink outboxEdit" href="edit.html">编辑</a>
    <div class="conHeadLink inboxOut inboxOutb">
      <div class="RelativeBox">
        导出
        <div class="OutfileBox OutfileBoxa">
          <a href="javascript:void(0);">Excel</a>
          <a href="javascript:void(0);">PDF</a>
          <a href="javascript:void(0);">二维码</a>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- 头部固定栏 -->
