<header class="conHeader">
  <div class="HeadMsg">
    <span class="headMsgTit">{{'setting'|i18n}}</span>
    <!--<a ng-show="!editModel" class="conHeadLink BasicInfoEdit" ng-click="showEdit()" id="BasicInfoEdit">edit</a>-->
    <!--<a ng-show="editModel" class="conHeadLink BasicInfoEdit" ng-click="saveUserInfo()">save</a>-->
    <!--<a ng-show="editModel" class="conHeadLink BasicInfoCancel" id="BasicInfoCancel">cancel</a>-->
    <!-- <button id="BasicInfoSava" class="conSave">退出</button> -->
    <a class="conHeadLink contactSave" ng-click="logout()">退出</a>
  </div>
</header>
