<!-- 主要内容盒子 -->
<div class="row conBox">
  <section class="row ClearLR contactsBox">
    <div class="w24bf MinH">
      <header class="conHeadTip">Supplier list</header>
      <ul class="contactList niceScroll MinH_h">
        <li>
          <a href="#">
            <p class="contactListH">公司名称：{{company.componyName}}</p>
            <p>联系人：{{userInfo.user}}</p>
            <p>电话：{{userInfo.phone}}</p>
            <p>手机：{{userInfo.cellphone}}</p>
            <p>邮箱：{{userInfo.email}}</p>
          </a>
        </li>
        <li>
          <a href="#">
            <p class="contactListH">张小姐有限公司</p>
            <p>张小姐</p>
            <p>8620-83208320</p>
            <p>8620-123456789</p>
            <p>123456789@qq.com</p>
          </a>
        </li>
        <li>
          <a href="#">
            <p class="contactListH">张小姐有限公司</p>
            <p>张小姐</p>
            <p>8620-83208320</p>
            <p>8620-123456789</p>
            <p>123456789@qq.com</p>
          </a>
        </li>
        <li>
          <a href="#">
            <p class="contactListH">张小姐有限公司</p>
            <p>张小姐</p>
            <p>8620-83208320</p>
            <p>8620-123456789</p>
            <p>123456789@qq.com</p>
          </a>
        </li>
        <li>
          <a href="#">
            <p class="contactListH">张小姐有限公司</p>
            <p>张小姐</p>
            <p>8620-83208320</p>
            <p>8620-123456789</p>
            <p>123456789@qq.com</p>
          </a>
        </li>
        <li>
          <a href="#">
            <p class="contactListH">张小姐有限公司</p>
            <p>张小姐</p>
            <p>8620-83208320</p>
            <p>8620-123456789</p>
            <p>123456789@qq.com</p>
          </a>
        </li>
        <li>
          <a href="#">
            <p class="contactListH">张小姐有限公司</p>
            <p>张小姐</p>
            <p>8620-83208320</p>
            <p>8620-123456789</p>
            <p>123456789@qq.com</p>
          </a>
        </li>
      </ul>
    </div>
    <div class="w24bf MinH">
      <header class="conHeadTip">Corporate Information</header>
      <div class="contactsPeopleMsg">
        <a class="contactsCusAdd mb15" href="javascript:void(0)">Removal of this company</a>
        <form>
          <div class="RelativeBox font0 inputBox">
            <span class="inputName">部门</span>
            <div class="customSelect contactSelect">
              <a class="customSelLink contactSelLink" href="javascript:void(0)"><span
                class="customSelTxt">日用品</span><span class="glyphicon customSelIcon glyphicon-menu-down"
                                                     aria-hidden="true"></span></a>
              <ul class="list-unstyled customSelMsg contactSelUl" style="display: none;">
                <li>部门1</li>
                <li>部门2</li>
                <li>部门3</li>
                <li>部门4</li>
                <li>部门5</li>
                <li>部门6</li>
                <li>部门1</li>
                <li>部门1</li>
                <li>部门1</li>
                <li>部门1</li>
                <li>部门1</li>
              </ul>
            </div>
          </div>
          <div class="RelativeBox font0 inputBox">
            <span class="inputName">分类</span>
            <div class="customSelect contactSelect">
              <a class="customSelLink contactSelLink" href="javascript:void(0)"><span
                class="customSelTxt">未分类</span><span class="glyphicon customSelIcon glyphicon-menu-down"
                                                     aria-hidden="true"></span></a>
              <ul class="list-unstyled customSelMsg contactSelUl" style="display: none;">
                <li>部门1</li>
                <li>部门2</li>
                <li>部门3</li>
                <li>部门4</li>
                <li>部门5</li>
                <li>部门6</li>
                <li>部门1</li>
                <li>部门1</li>
                <li>部门1</li>
                <li>部门1</li>
                <li>部门1</li>
              </ul>
            </div>
          </div>
          <div class="RelativeBox font0 inputBox">
            <span class="inputName">供应商编号</span>
            <input type="text" class="inputVal">
          </div>
          <div class="RelativeBox font0 inputBox">
            <span class="inputName">供应商类型</span>
            <input type="text" class="inputVal">
          </div>
          <div class="RelativeBox font0 inputBox">
            <span class="inputName">公司名</span>
            <input type="text" class="inputVal">
          </div>
          <div class="RelativeBox font0 inputBox">
            <span class="inputName">公司地址</span>
            <input type="text" class="inputVal">
          </div>
          <div class="RelativeBox font0 inputBox">
            <span class="inputName">网址</span>
            <input type="text" class="inputVal">
          </div>
          <div class="RelativeBox font0 inputBox">
            <span class="inputName">付款方式</span>
            <input type="text" class="inputVal">
          </div>
          <div class="RelativeBox font0 inputBox">
            <span class="inputName">经营产品</span>
            <input type="text" class="inputVal">
          </div>
          <div class="RelativeBox font0 inputBox">
            <span class="inputName">银行账户</span>
            <input type="text" class="inputVal">
          </div>
        </form>
      </div>
    </div>
    <div class="w24bf MinH">
      <header class="conHeadTip">Contact Information</header>
      <div class="contactsPeopleMsg">
        <a class="contactsCusAdd mb15" href="javascript:void(0)">Delete this contact</a>
        <form>
          <div class="RelativeBox font0 inputBox">
            <span class="inputName">Contact</span>
            <input type="text" class="inputVal">
          </div>
          <div class="RelativeBox font0 inputBox">
            <span class="inputName">Job title</span>
            <input type="text" class="inputVal">
          </div>
          <div class="RelativeBox font0 inputBox">
            <span class="inputName">Cell</span>
            <input type="text" class="inputVal">
          </div>
          <div class="RelativeBox font0 inputBox">
            <span class="inputName">Email</span>
            <input type="text" class="inputVal">
          </div>
          <div class="RelativeBox font0 inputBox">
            <span class="inputName">Tel</span>
            <input type="text" class="inputVal">
          </div>
          <div class="RelativeBox font0 inputBox">
            <span class="inputName">Fax</span>
            <input type="text" class="inputVal">
          </div>
        </form>
      </div>
    </div>
    <div class="w24bf MinH">
      <header class="conHeadTip">Comment</header>
      <div class="concactsAssessWrap niceScroll">
        <ul class="list-unstyled">
          <li>
            <a class="navMoreLink concactsNavMore" href="javascript:void(0)">Delivery<span
              class="glyphicon navMoreIcon concactsNavMoreI glyphicon-menu-down" aria-hidden="true"></span></a>
            <div class="navMoreMsg">
              <div class="concactsAssessMsg">
                <p class="RelativeBox concactsAssessP">评估人员 <span>2016-07-02</span></p>
                <textarea class="conTxtArea concactsAssessTextA" rows="6" value="内容内容内容内容内容内容内容内容内容内容"></textarea>
              </div>
              <div class="concactsAssessMsg">
                <p class="RelativeBox concactsAssessP">评估人员 <span>2016-07-02</span></p>
                <textarea class="conTxtArea concactsAssessTextA" rows="6" value="内容内容内容内容内容内容内容内容内容内容"></textarea>
              </div>
              <div class="concactsAssessMsg">
                <p class="RelativeBox concactsAssessP">评估人员 <span>2016-07-02</span></p>
                <textarea class="conTxtArea concactsAssessTextA" rows="6" value="内容内容内容内容内容内容内容内容内容内容"></textarea>
              </div>
            </div>
          </li>
          <li>
            <a class="navMoreLink concactsNavMore" href="javascript:void(0)">Communication<span
              class="glyphicon navMoreIcon concactsNavMoreI glyphicon-menu-down" aria-hidden="true"></span></a>
            <div class="navMoreMsg">
              <div class="concactsAssessMsg">
                <p class="RelativeBox concactsAssessP">评估人员 <span>2016-07-02</span></p>
                <textarea class="conTxtArea concactsAssessTextA" rows="6" value="内容内容内容内容内容内容内容内容内容内容"></textarea>
              </div>
              <div class="concactsAssessMsg">
                <p class="RelativeBox concactsAssessP">评估人员 <span>2016-07-02</span></p>
                <textarea class="conTxtArea concactsAssessTextA" rows="6" value="内容内容内容内容内容内容内容内容内容内容"></textarea>
              </div>
              <div class="concactsAssessMsg">
                <p class="RelativeBox concactsAssessP">评估人员 <span>2016-07-02</span></p>
                <textarea class="conTxtArea concactsAssessTextA" rows="6" value="内容内容内容内容内容内容内容内容内容内容"></textarea>
              </div>
            </div>
          </li>
          <li>
            <a class="navMoreLink concactsNavMore" href="javascript:void(0)">Quality<span
              class="glyphicon navMoreIcon concactsNavMoreI glyphicon-menu-down" aria-hidden="true"></span></a>
            <div class="navMoreMsg">
              <div class="concactsAssessMsg">
                <p class="RelativeBox concactsAssessP">评估人员 <span>2016-07-02</span></p>
                <textarea class="conTxtArea concactsAssessTextA" rows="6" value="内容内容内容内容内容内容内容内容内容内容"></textarea>
              </div>
              <div class="concactsAssessMsg">
                <p class="RelativeBox concactsAssessP">评估人员 <span>2016-07-02</span></p>
                <textarea class="conTxtArea concactsAssessTextA" rows="6" value="内容内容内容内容内容内容内容内容内容内容"></textarea>
              </div>
              <div class="concactsAssessMsg">
                <p class="RelativeBox concactsAssessP">评估人员 <span>2016-07-02</span></p>
                <textarea class="conTxtArea concactsAssessTextA" rows="6" value="内容内容内容内容内容内容内容内容内容内容"></textarea>
              </div>
            </div>
          </li>
          <li>
            <a class="navMoreLink concactsNavMore" href="javascript:void(0)">Sampling<span
              class="glyphicon navMoreIcon concactsNavMoreI glyphicon-menu-down" aria-hidden="true"></span></a>
            <div class="navMoreMsg">
              <div class="concactsAssessMsg">
                <p class="RelativeBox concactsAssessP">评估人员 <span>2016-07-02</span></p>
                <textarea class="conTxtArea concactsAssessTextA" rows="6" value="内容内容内容内容内容内容内容内容内容内容"></textarea>
              </div>
              <div class="concactsAssessMsg">
                <p class="RelativeBox concactsAssessP">评估人员 <span>2016-07-02</span></p>
                <textarea class="conTxtArea concactsAssessTextA" rows="6" value="内容内容内容内容内容内容内容内容内容内容"></textarea>
              </div>
              <div class="concactsAssessMsg">
                <p class="RelativeBox concactsAssessP">评估人员 <span>2016-07-02</span></p>
                <textarea class="conTxtArea concactsAssessTextA" rows="6" value="内容内容内容内容内容内容内容内容内容内容"></textarea>
              </div>
            </div>
          </li>
          <li>
            <a class="navMoreLink concactsNavMore" href="javascript:void(0)">Documentation<span
              class="glyphicon navMoreIcon concactsNavMoreI glyphicon-menu-down" aria-hidden="true"></span></a>
            <div class="navMoreMsg">
              <div class="concactsAssessMsg">
                <p class="RelativeBox concactsAssessP">评估人员 <span>2016-07-02</span></p>
                <textarea class="conTxtArea concactsAssessTextA" rows="6" value="内容内容内容内容内容内容内容内容内容内容"></textarea>
              </div>
              <div class="concactsAssessMsg">
                <p class="RelativeBox concactsAssessP">评估人员 <span>2016-07-02</span></p>
                <textarea class="conTxtArea concactsAssessTextA" rows="6" value="内容内容内容内容内容内容内容内容内容内容"></textarea>
              </div>
              <div class="concactsAssessMsg">
                <p class="RelativeBox concactsAssessP">评估人员 <span>2016-07-02</span></p>
                <textarea class="conTxtArea concactsAssessTextA" rows="6" value="内容内容内容内容内容内容内容内容内容内容"></textarea>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </section>
</div>
<!-- 主要内容盒子 -->
