<!-- 主要内容盒子 -->
<div class="row conBox">
  <section class="row ClearLR contactsBox">
    <div class="w24bf MinH">
      <header class="conHeadTip">{{'supplier.list'|i18n}}</header>
      <!--<a class="contactsCusAdd mb15" ng-click="addSupplier()">{{'new'|i18n}}</a>-->
      <ul class="contactList niceScroll MinH_h">
        <!--<li>-->
          <!--<a href="#">-->
            <!--<p class="contactListH">{{'company.name'|i18n}}：{{company.componyName}}</p>-->
            <!--<p>{{'contact'|i18n}}：{{userInfo.user}}</p>-->
            <!--<p>{{'user.phone'|i18n}}：{{userInfo.phone}}</p>-->
            <!--<p>{{'user.cellphone'|i18n}}：{{userInfo.cellphone}}</p>-->
            <!--<p>{{'user.email'|i18n}}：{{userInfo.email}}</p>-->
          <!--</a>-->
        <!--</li>-->
        <li ng-repeat="contact in contacts">
          <a ng-class="{'navactive': contact.id==currentContact.id}" ng-click="initContact($index)">
            <p class="contactListH">{{contact.name}}</p>
            <!--<p>{{contact.supplierType}}</p>-->
            <!--<p>{{contact.products}}</p>-->
            <!--<p>{{contact.paymentTerm}}</p>-->
            <!--<p>{{contact.companyAddress1}}</p>-->
          </a>
        </li>
      </ul>
    </div>
    <div class="w24bf MinH">
      <header class="conHeadTip">{{'supplier.info'|i18n}}</header>
      <div class="contactsPeopleMsg">
        <a class="contactsCusAdd mb15" ng-class="{'w40': currentContact.id}" ng-click="saveSupplier(currentContact)" style="width:40%">{{'save'|i18n}}</a>
        <a class="contactsCusAdd mb15" ng-if="currentContact.id" ng-click="delSupplier(currentContact)" style="width:40%;float:right;">{{'delete'|i18n}}</a>
        <form name="supplierForm">
          <div class="RelativeBox font0 inputBox">
            <span class="inputName">{{'supplier.code'|i18n}}</span>
            <input type="text" ng-model="currentContact.supplierNumber" placeholder="{{'supplier.code'|i18n}}" class="inputVal"/>
          </div>
          <div class="RelativeBox font0 inputBox">
            <span class="inputName">{{'supplier.type'|i18n}}</span>
            <input type="text" ng-model="currentContact.supplierType" placeholder="{{'supplier.type'|i18n}}" class="inputVal"/>
          </div>
          <div class="RelativeBox font0 inputBox">
            <span class="inputName">{{'supplier.name'|i18n}}</span>
            <input type="text" ng-model="currentContact.name" placeholder="{{'supplier.name'|i18n}}" class="inputVal">
          </div>
          <div class="RelativeBox font0 inputBox">
            <span class="inputName">{{'supplier.address1'|i18n}}</span>
            <input type="text" ng-model="currentContact.companyAddress1" placeholder="{{'supplier.address1'|i18n}}" class="inputVal"/>
          </div>
          <div class="RelativeBox font0 inputBox">
            <span class="inputName">{{'supplier.address2'|i18n}}</span>
            <input type="text" ng-model="currentContact.companyAddress2" placeholder="{{'supplier.address2'|i18n}}" class="inputVal"/>
          </div>
          <div class="RelativeBox font0 inputBox">
            <span class="inputName">{{'supplier.address3'|i18n}}</span>
            <input type="text" ng-model="currentContact.companyAddress3" placeholder="{{'supplier.address3'|i18n}}" class="inputVal"/>
          </div>
          <div class="RelativeBox font0 inputBox">
            <span class="inputName">{{'supplier.address4'|i18n}}</span>
            <input type="text" ng-model="currentContact.companyAddress4" placeholder="{{'supplier.address4'|i18n}}" class="inputVal"/>
          </div>
          <div class="RelativeBox font0 inputBox">
            <span class="inputName">{{'supplier.website'|i18n}}</span>
            <input type="text" ng-model="currentContact.website" placeholder="{{'supplier.website'|i18n}}" class="inputVal"/>
          </div>
          <div class="RelativeBox font0 inputBox">
            <span class="inputName">{{'supplier.paymentTerm'|i18n}}</span>
            <input type="text" class="inputVal" ng-model="currentContact.paymentTerm" placeholder="{{'supplier.paymentTerm'|i18n}}"/>
          </div>
          <div class="RelativeBox font0 inputBox">
            <span class="inputName">{{'supplier.products'|i18n}}</span>
            <input type="text" class="inputVal"ng-model="currentContact.products" placeholder="{{'supplier.products'|i18n}}"/>
          </div>
          <div class="RelativeBox font0 inputBox">
            <h4>{{'supplier.to.depart'|i18n}}</h4>
            <div ng-repeat="depart in departs" class="checkbox">
              <label>
                <input type="checkbox" ng-click="updateSelection($event, depart)" value="{{depart}}" ng-checked="containDepart(depart)">{{depart}}
              </label>
            </div>
          </div>
          <!--<div class="RelativeBox font0 inputBox">-->
            <!--<div id="div_thumbs">-->
              <!--<a ng-repeat="image in images" style="width:50px;">-->
                <!--<img ng-src="{{image.url|baseUrl}}" class="img-responsive img-thumbnail" style="margin-bottom: 20px;width:100px;padding:0px;vertical-align: top" ng-click="initImage(image)"/>-->
                <!--<span><img ng-click="delImage($index, false)" src="../../images/x_alt.png" style="position:relative;width:16px;height:16px;top:-5px;left:-10px;cursor: pointer;"></span>-->
              <!--</a>-->
              <!--<a ng-repeat="image in localImages" style="width:50px;">-->
                <!--<img src="{{image.url}}" class="img-responsive img-thumbnail" style="margin-bottom: 20px;width:100px;padding:0px;vertical-align: top;" ng-click="initImage(image)"/>-->
                <!--<span><img ng-click="delImage($index, true)" src="../../images/x_alt.png" style="position:relative;width:16px;height:16px;top:-5px;left:-10px;cursor: pointer;"></span>-->
              <!--</a>-->
              <!--<label style="width:100px;height:100px;border:2px solid #ccc;cursor:pointer;">-->
                    <!--<span id="scan" style="position: relative">-->
                      <!--<img src="../../images/add.png" style="line-height:100px;height:100px;vertical-align: top"/>-->
                    <!--</span>-->
                <!--<input style="width: 60px;height:40px; position: absolute;top:-6px;left: -4px;opacity: 0; filter:alpha(opacity=0)" type="file" accept="image/*" file-model="productImage" onchange="angular.element(this).scope().selectImage(this.files)" multiple="multiple"/>-->
              <!--</label>-->
            <!--</div>-->
          <!--</div>-->
          <!--<div class="RelativeBox font0 inputBox">-->
            <!--<span class="inputName">{{'supplier.bank'|i18n}}</span>-->
            <!--<input type="text" class="inputVal" ng-model="currentContact.bank" placeholder="{{'supplier.bank'|i18n}}"/>-->
          <!--</div>-->
        </form>
      </div>
    </div>
    <div class="w24bf MinH">
      <header class="conHeadTip">{{'image'|i18n}}</header>
      <div>
        <div id="div_thumbs">
          <a ng-repeat="image in images" style="width:50px;">
            <img ng-src="{{image.url|baseUrl}}" class="img-responsive img-thumbnail" style="margin-bottom: 20px;width:100px;padding:0px;vertical-align: top" ng-click="initImage(image)"/>
            <span><img ng-click="delImage($index, false)" src="../../images/x_alt.png" style="position:relative;width:16px;height:16px;top:-5px;left:-10px;cursor: pointer;"></span>
          </a>
          <a ng-repeat="image in localImages" style="width:50px;">
            <img src="{{image.url}}" class="img-responsive img-thumbnail" style="margin-bottom: 20px;width:100px;padding:0px;vertical-align: top;" ng-click="initImage(image)"/>
            <span><img ng-click="delImage($index, true)" src="../../images/x_alt.png" style="position:relative;width:16px;height:16px;top:-5px;left:-10px;cursor: pointer;"></span>
          </a>
          <label style="width:100px;height:100px;border:2px solid #ccc;cursor:pointer;">
                    <span id="scan" style="position: relative">
                      <img src="../../images/add.png" style="line-height:100px;height:100px;vertical-align: top"/>
                    </span>
            <input style="width: 60px;height:40px; position: absolute;top:-6px;left: -4px;opacity: 0; filter:alpha(opacity=0)" type="file" accept="image/jpg,image/jpeg,image/png,image/bmp,image/gif" file-model="productImage" onchange="angular.element(this).scope().selectImage(this.files)" multiple="multiple"/>
          </label>
        </div>
        <!--<a class="contactsCusAdd mb15" ng-click="addContact()">{{'contact.item.add'|i18n}}</a>-->
        <!--<ul class="contactList niceScroll MinH_h">-->
          <!--<li>-->
          <!--<a href="#">-->
          <!--<p class="contactListH">{{'company.name'|i18n}}：{{company.componyName}}</p>-->
          <!--<p>{{'contact'|i18n}}：{{userInfo.user}}</p>-->
          <!--<p>{{'user.phone'|i18n}}：{{userInfo.phone}}</p>-->
          <!--<p>{{'user.cellphone'|i18n}}：{{userInfo.cellphone}}</p>-->
          <!--<p>{{'user.email'|i18n}}：{{userInfo.email}}</p>-->
          <!--</a>-->
          <!--</li>-->
          <!--<li ng-repeat="item in currentContact.contactItems">-->
            <!--<a ng-class="{'navactive': item.id==currentItem.id}" ng-click="initItem($index)">-->
              <!--<p class="contactListH">{{item.name}}</p>-->
              <!--<p>{{item.extra.email}}</p>-->
              <!--<p>{{item.extra.cellphone}}</p>-->
            <!--</a>-->
          <!--</li>-->
        <!--</ul>-->
      </div>
    </div>
    <div class="w24bf MinH">
      <header class="conHeadTip">{{'contact.info'|i18n}}</header>
      <div ng-repeat="item in allContactItems">
        <a class="contactsCusAdd mb15" ng-class="{'w40': currentContact.id}" ng-click="saveContact($index)" style="width:40%">{{'save'|i18n}}</a>
        <a class="contactsCusAdd mb15" ng-if="currentContact.id" ng-click="delContact($index)" style="width:40%;float:right;">{{'delete'|i18n}}</a>
        <div class="contactsPeopleMsg">
          <form name="supplierForm">
            <div class="RelativeBox font0 inputBox">
              <span class="inputName">{{'contact.name'|i18n}}</span>
              <input type="text" class="inputVal" ng-model="$parent.allContactItems[$index].name" placeholder="{{'contact.name'|i18n}}" required/>
            </div>
            <div class="RelativeBox font0 inputBox">
              <span class="inputName">{{'contact.position'|i18n}}</span>
              <input type="text" class="inputVal" ng-model="$parent.allContactItems[$index].position" placeholder="{{'contact.position'|i18n}}"/>
            </div>
            <div class="RelativeBox font0 inputBox">
              <span class="inputName">{{'contact.cellphone'|i18n}}</span>
              <input type="text" class="inputVal" ng-model="$parent.allContactItems[$index].cellphone" placeholder="{{'contact.cellphone'|i18n}}"/>
            </div>
            <div class="RelativeBox font0 inputBox">
              <span class="inputName">{{'contact.email'|i18n}}</span>
              <input type="text" class="inputVal" ng-model="$parent.allContactItems[$index].email" placeholder="{{'contact.email'|i18n}}"/>
            </div>
            <div class="RelativeBox font0 inputBox">
              <span class="inputName">{{'contact.tel'|i18n}}</span>
              <input type="text" class="inputVal" ng-model="$parent.allContactItems[$index].tel" placeholder="{{'contact.tel'|i18n}}"/>
            </div>
            <div class="RelativeBox font0 inputBox">
              <span class="inputName">{{'contact.fax'|i18n}}</span>
              <input type="text" class="inputVal" ng-model="$parent.allContactItems[$index].fax" placeholder="{{'contact.fax'|i18n}}"/>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!--<div class="w24bf MinH">-->
      <!--<header class="conHeadTip">Comment</header>-->
      <!--<div class="concactsAssessWrap niceScroll">-->
        <!--<ul class="list-unstyled">-->
          <!--<li>-->
            <!--<a class="navMoreLink concactsNavMore" href="javascript:void(0)">Delivery<span-->
              <!--class="glyphicon navMoreIcon concactsNavMoreI glyphicon-menu-down" aria-hidden="true"></span></a>-->
            <!--<div class="navMoreMsg">-->
              <!--<div class="concactsAssessMsg">-->
                <!--<p class="RelativeBox concactsAssessP">评估人员 <span>2016-07-02</span></p>-->
                <!--<textarea class="conTxtArea concactsAssessTextA" rows="6" value="内容内容内容内容内容内容内容内容内容内容"></textarea>-->
              <!--</div>-->
              <!--<div class="concactsAssessMsg">-->
                <!--<p class="RelativeBox concactsAssessP">评估人员 <span>2016-07-02</span></p>-->
                <!--<textarea class="conTxtArea concactsAssessTextA" rows="6" value="内容内容内容内容内容内容内容内容内容内容"></textarea>-->
              <!--</div>-->
              <!--<div class="concactsAssessMsg">-->
                <!--<p class="RelativeBox concactsAssessP">评估人员 <span>2016-07-02</span></p>-->
                <!--<textarea class="conTxtArea concactsAssessTextA" rows="6" value="内容内容内容内容内容内容内容内容内容内容"></textarea>-->
              <!--</div>-->
            <!--</div>-->
          <!--</li>-->
          <!--<li>-->
            <!--<a class="navMoreLink concactsNavMore" href="javascript:void(0)">Communication<span-->
              <!--class="glyphicon navMoreIcon concactsNavMoreI glyphicon-menu-down" aria-hidden="true"></span></a>-->
            <!--<div class="navMoreMsg">-->
              <!--<div class="concactsAssessMsg">-->
                <!--<p class="RelativeBox concactsAssessP">评估人员 <span>2016-07-02</span></p>-->
                <!--<textarea class="conTxtArea concactsAssessTextA" rows="6" value="内容内容内容内容内容内容内容内容内容内容"></textarea>-->
              <!--</div>-->
              <!--<div class="concactsAssessMsg">-->
                <!--<p class="RelativeBox concactsAssessP">评估人员 <span>2016-07-02</span></p>-->
                <!--<textarea class="conTxtArea concactsAssessTextA" rows="6" value="内容内容内容内容内容内容内容内容内容内容"></textarea>-->
              <!--</div>-->
              <!--<div class="concactsAssessMsg">-->
                <!--<p class="RelativeBox concactsAssessP">评估人员 <span>2016-07-02</span></p>-->
                <!--<textarea class="conTxtArea concactsAssessTextA" rows="6" value="内容内容内容内容内容内容内容内容内容内容"></textarea>-->
              <!--</div>-->
            <!--</div>-->
          <!--</li>-->
          <!--<li>-->
            <!--<a class="navMoreLink concactsNavMore" href="javascript:void(0)">Quality<span-->
              <!--class="glyphicon navMoreIcon concactsNavMoreI glyphicon-menu-down" aria-hidden="true"></span></a>-->
            <!--<div class="navMoreMsg">-->
              <!--<div class="concactsAssessMsg">-->
                <!--<p class="RelativeBox concactsAssessP">评估人员 <span>2016-07-02</span></p>-->
                <!--<textarea class="conTxtArea concactsAssessTextA" rows="6" value="内容内容内容内容内容内容内容内容内容内容"></textarea>-->
              <!--</div>-->
              <!--<div class="concactsAssessMsg">-->
                <!--<p class="RelativeBox concactsAssessP">评估人员 <span>2016-07-02</span></p>-->
                <!--<textarea class="conTxtArea concactsAssessTextA" rows="6" value="内容内容内容内容内容内容内容内容内容内容"></textarea>-->
              <!--</div>-->
              <!--<div class="concactsAssessMsg">-->
                <!--<p class="RelativeBox concactsAssessP">评估人员 <span>2016-07-02</span></p>-->
                <!--<textarea class="conTxtArea concactsAssessTextA" rows="6" value="内容内容内容内容内容内容内容内容内容内容"></textarea>-->
              <!--</div>-->
            <!--</div>-->
          <!--</li>-->
          <!--<li>-->
            <!--<a class="navMoreLink concactsNavMore" href="javascript:void(0)">Sampling<span-->
              <!--class="glyphicon navMoreIcon concactsNavMoreI glyphicon-menu-down" aria-hidden="true"></span></a>-->
            <!--<div class="navMoreMsg">-->
              <!--<div class="concactsAssessMsg">-->
                <!--<p class="RelativeBox concactsAssessP">评估人员 <span>2016-07-02</span></p>-->
                <!--<textarea class="conTxtArea concactsAssessTextA" rows="6" value="内容内容内容内容内容内容内容内容内容内容"></textarea>-->
              <!--</div>-->
              <!--<div class="concactsAssessMsg">-->
                <!--<p class="RelativeBox concactsAssessP">评估人员 <span>2016-07-02</span></p>-->
                <!--<textarea class="conTxtArea concactsAssessTextA" rows="6" value="内容内容内容内容内容内容内容内容内容内容"></textarea>-->
              <!--</div>-->
              <!--<div class="concactsAssessMsg">-->
                <!--<p class="RelativeBox concactsAssessP">评估人员 <span>2016-07-02</span></p>-->
                <!--<textarea class="conTxtArea concactsAssessTextA" rows="6" value="内容内容内容内容内容内容内容内容内容内容"></textarea>-->
              <!--</div>-->
            <!--</div>-->
          <!--</li>-->
          <!--<li>-->
            <!--<a class="navMoreLink concactsNavMore" href="javascript:void(0)">Documentation<span-->
              <!--class="glyphicon navMoreIcon concactsNavMoreI glyphicon-menu-down" aria-hidden="true"></span></a>-->
            <!--<div class="navMoreMsg">-->
              <!--<div class="concactsAssessMsg">-->
                <!--<p class="RelativeBox concactsAssessP">评估人员 <span>2016-07-02</span></p>-->
                <!--<textarea class="conTxtArea concactsAssessTextA" rows="6" value="内容内容内容内容内容内容内容内容内容内容"></textarea>-->
              <!--</div>-->
              <!--<div class="concactsAssessMsg">-->
                <!--<p class="RelativeBox concactsAssessP">评估人员 <span>2016-07-02</span></p>-->
                <!--<textarea class="conTxtArea concactsAssessTextA" rows="6" value="内容内容内容内容内容内容内容内容内容内容"></textarea>-->
              <!--</div>-->
              <!--<div class="concactsAssessMsg">-->
                <!--<p class="RelativeBox concactsAssessP">评估人员 <span>2016-07-02</span></p>-->
                <!--<textarea class="conTxtArea concactsAssessTextA" rows="6" value="内容内容内容内容内容内容内容内容内容内容"></textarea>-->
              <!--</div>-->
            <!--</div>-->
          <!--</li>-->
        <!--</ul>-->
      <!--</div>-->
    <!--</div>-->
  </section>
</div>
<!-- 主要内容盒子 -->
